* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_tertiary);
}

/* ------------------------------- Manager_Content ------------------------------- */

#Manager_Content {
    width: 80%;
    background-color: white;
    margin: 10px 10px 10px 0;
    overflow: auto;
}

/* ------------------------------- header Manager_Content ------------------------------- */

#Manager_Content .header_content {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}


#Manager_Content .header_content .header_content_main-text {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
}


#Manager_Content .header_content .header_content_sub-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray_500);
}



/* ------------------------------- header Manager_Content ------------------------------- */


/* ------------------------------- body Manager_Content ------------------------------- */

#Manager_Content  .body_content {
    width: 95%;
    margin: 0 auto;
}


#Manager_Content  .body_content .body_content_tabs {
    width: fit-content;
    border: none;
    border-radius: 3px;
}


#Manager_Content  .body_content .body_content_tabs .btn-style  {
    padding: 8px 12px;
    border-radius: 3px;
    border: none; 
    background-color: white;
}

#Manager_Content  .body_content .body_content_tabs .btn-style:focus-within  {
    background-color: var(--gray_50);
    border: 1px solid var(--gray_300) ;
}

/* ------------ infor filter Manager_Content ---------------- */
#Manager_Content .infor-filter-container {
    width: 100%;
    border: 1.5px solid var(--gray_300) !important;
    border-radius: 6px;
}

#Manager_Content .infor-filter-container .container-item {
    width: 95%;
    margin: 15px auto;
}

#Manager_Content .infor-filter-container-title {
    font-family: var(--font_tertiary);
    font-weight: 600 ;
}


/* ------------ infor filter Manager_Content ---------------- */


/* ------------ table blogs Manager_Content ---------------- */

#Manager_Content .infor-filter-container .table-responsive,
#Manager_Content .group-fleld .table-responsive {
    border-radius: 6px;
    border: 2px solid var(--gray_300) !important;
    margin-bottom: 25px;
}

#Manager_Content .infor-filter-container .table-responsive  .on-the-table,
#Manager_Content .group-fleld .table-responsive  .on-the-table {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    justify-content: space-between;
}

#Manager_Content .infor-filter-container .table-responsive  .on-the-table .btn-on-table {
    background-color: var(--gray_600);
    color: var(--gray_200);
    padding: 10px 20px;
    border-radius: 3px;
}


#Manager_Content .infor-filter-container .table-responsive  .on-the-table .text-on-table,
#Manager_Content .group-fleld .table-responsive  .on-the-table .text-on-table{
   font-family: var(--font_tertiary);
   font-weight: 600;

}

#Manager_Content .infor-filter-container .table-responsive thead,
#Manager_Content .group-fleld .table-responsive thead  {
    border-bottom:1px solid var(--gray_300) ;
}

#Manager_Content .infor-filter-container .table-responsive thead th,
#Manager_Content .group-fleld .table-responsive thead th {
    font-size: 12px;
    font-family: var(--font_tertiary);
    font-weight: 500;
    color: var(--gray_500);
    padding: 10px 8px;
}





#Manager_Content .infor-filter-container .table-responsive thead th:first-child,
#Manager_Content .group-fleld .table-responsive thead th:first-child {
    width: 55% !important;      
}

#Manager_Content .infor-filter-container .table-responsive .table tbody,
#Manager_Content .group-fleld .table-responsive .table tbody {
    border: none !important;
    border-style:none !important ;
}



#Manager_Content .infor-filter-container .table-responsive tbody tr,
#Manager_Content .group-fleld .table-responsive tbody tr {
   vertical-align: middle;
   transition: 0.5s;
  
}

#Manager_Content .infor-filter-container .table-responsive tbody tr:hover,
#Manager_Content .group-fleld .table-responsive tbody tr:hover {
    background-color: var(--gray_200);
   
}



 #Manager_Content .infor-filter-container  .td-first-table,
 #Manager_Content #form-promotion .group-fleld-05 .table-responsive .td-first-table {
    text-align: left;
}

#Manager_Content .infor-filter-container .table-responsive tbody td,
#Manager_Content .group-fleld .table-responsive tbody td {
    font-size: 14px;
    font-family: var(--font_tertiary);
    font-weight: 600;
    color: var(--gray_600);
    cursor: pointer;
    transition: 0.5s;
}


tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    text-align: center;
}


#Manager_Content .infor-filter-container .table-responsive tfoot {
    border-top: 1px solid var(--gray_300) ;
}


#Manager_Content .infor-filter-container .table-responsive tfoot .btn-style {
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.4s;
}

#Manager_Content .infor-filter-container .table-responsive tfoot .btn-style:hover {
    background-color: var(--gray_100);
}

#Manager_Content .infor-filter-container .table-responsive tfoot td:last-child {
    font-family: var(--font_tertiary);
    font-size: 14px;
    font-weight: 500;
}

/* ------------ table blogs Manager_Content ---------------- */


/* ------------ form blogs Manager_Content ---------------- */
#Manager_Content  #form-promotion  .form-promotion-pane {
    width: 100%;
    border: 2px solid var(--gray_200);
    border-radius: 5px;
    margin-bottom: 20px;
}

#Manager_Content #form-promotion .group-fleld-01 .form-promotion-container-title  {
    margin: 10px 0;
    font-family: var(--font_tertiary);
    font-weight: 600;
}

#Manager_Content #form-promotion .group-fleld {
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


#Manager_Content #form-promotion .group-fleld .form-group {
    width: 100%;
}

#Manager_Content #form-promotion .group-fleld-02 .form-group {
    width: calc((100% - 2.5%)/3);
}


#Manager_Content #form-promotion .group-fleld-04 {
    justify-content: right;
}

#Manager_Content #form-promotion .group-fleld-04 .btn,
 .modal-footer .btn {
    padding: 10px 20px;
    margin: 10px;
    transition: 0.5s;
}

#Manager_Content #form-promotion .group-fleld-04 .btn-clear:hover {
    background-color: var(--gray_300);
}

#Manager_Content #form-promotion .group-fleld-04 .btn:last-child,
 .modal-footer  .btn:last-child {
    margin-right: 0;
    background-color: var(--gray_900);
    color: var(--gray_50);
}

#Manager_Content #form-promotion .group-fleld-04 .btn:last-child:hover,
 .modal-footer .btn:last-child:hover {
    background-color: var(--gray_1000);
  
}

#Manager_Content #form-promotion .group-fleld-04 .btn-update,
 .modal-footer .btn-update {
    margin-right: 0;
    background-color: var(--gray_100);
    color: var(--gray_700);
}

#Manager_Content #form-promotion .group-fleld-04 .btn-update:hover,
 .modal-footer .btn-update:hover {
    margin-right: 0;
    background-color: var(--gray_300);
    color: var(--gray_700);
}

#Manager_Content #form-promotion .group-fleld-05 .table-responsive {
    width: 100%;
}




#Manager_Content #form-promotion .form-group .form-label {
    font-family: var(--font_tertiary);
    font-size: 14px;
    font-weight: 500;
}

#Manager_Content #form-promotion .form-group .form-control {
    font-family: var(--font_tertiary);
    font-size: 16px;
    font-weight: 400;
    color: var(--gray_500);
    box-shadow: 0px 1px var(--gray_300);
}


/* ------------ form blogs Manager_Content ---------------- */



/* ------------------------------- body Manager_Content ------------------------------- */

/* ------------------------------- Modal Manager_Content ------------------------------- */

.form-group-modal {
    display: flex;
    justify-content: space-between;
}

.form-group-modal  .form-group{
    width: 100%;
}

.form-group-modal-01  .form-group{
    width: calc((100% - 2.5%)/3);
}

/* ------------------------------- Modal Manager_Content ------------------------------- */