@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f7f8f9;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
    /* display: flex; */
}

.lg-container {
    width: 100%;
    /* height: 100vh; */
    height: 80%;
    /* margin: 0 50px; */
    /* margin: calc((100vh - 80vh)/2) auto; */
    background: #fff;
    /* border-radius: 15px; */
    box-shadow: 1px 2px 8px 8px #ccc3;
    display: flex;
    /* margin-top: 4rem; */
    overflow: hidden;
}

.lg-container-ctent {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.lg-ct-left {
    width: 50%;
}

#LoginContainer .lg-ct-left-form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* --logo and title-- */
/* #LoginContainer .lg-ct-left-form */
#LoginContainer .lg-ct-left-form .lg-ct-top img {
    margin: 0px 5px;
}

#LoginContainer .lg-ct-left-form .lg-ct-top .lg-ct-top-up {
    display: flex;
    align-items: center;
    width: 100%;
}

#LoginContainer .lg-ct-left-form .lg-ct-top h1 {
    margin-top: 40px;
    width: 100%;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #101828;
}

#LoginContainer .lg-ct-left-form .lg-ct-top p {
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #667085;
}

.lg-ct-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #344054;

}

#LoginContainer .lg-ct-left-form .form-group {
    width: 100%;
}

/* form */
#LoginContainer .lg-ct-left-form .mb-3 label {
    width: 100%;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

#LoginContainer .lg-ct-left-form .mb-3 .form-control {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 3px;
}

.mb-3 {
    margin-bottom: 2rem !important;
}

/* button */
#LoginContainer .lg-ct-left-form .btn-login {
    padding: 12px 20px;
    gap: 8px;
    width: 100%;
    height: 48px;
    background: #475467;
    border: 1px solid #475467;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 3px;
    /*  */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

/* --------------img - right------------------ */
.lg-ct-right {
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */
}

.lg-image {
    width: 100%;
    /* border: 10px; */
    /* margin: 20px 16px; */
    overflow: hidden;
    height: 100%;
    /* background-color: antiquewhite; */
}

.lg-image img {
    width: 100%;
    /* border-radius: 10px; */
    height: 100%;
    object-fit: cover;

}