
/* footer */

footer {
    margin-top: 50px;
    padding: 50px 0px 10px;
    background-color: #101828;
}

footer h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #98A2B3;

}

.footer-link li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-link li a:hover {
    color: rgb(145, 140, 140);
}