*,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.material-symbols-sharp {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

/* navbar */
.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
}
.dropdown-hover:hover>.dropdown-toggle{
    color: #007bff !important;
}
.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.show>.nav-link,
.nav-link.active {
    color: #007bff !important;
}

.show>.nav-link,
.nav-link:hover {
    color: #007bff !important;
}

.item-menu {
    font-size: 20px;
    font-weight: 700;
}

.item-menu li {
    padding: 0px 10px;
}

.icon-navbar {
    font-weight: 700;
    margin-right: 20px;
}

.icon-navbar span {
    padding: 10px;
}


.navbar .megamenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 15%;
        right: 0;
        width: 70%;
        margin-top: 0;
    }

}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}


.item-opsition-menu a {
    text-decoration: none;
    color: #101828;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.item-opsition-menu a:hover {
    color: #007bff;
}

.item-opsition-menu p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0 20px;
}

.item-opsition-menu .material-symbols-sharp {
    margin-right: 10px;
    margin-bottom: 15px;
    font-weight: 400;
    background: #F4EBFF;
    padding: 10px;
    border-radius: 100%;
}

/* banner */

#carouselExampleIndicators .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
}

#carouselExampleIndicators .carousel-indicators {
    justify-content: flex-end;
}

#carouselExampleIndicators .carousel-indicators li {
    background-color: white;

    border: 2px double #000000;

}

/* Thiết lập màu cho carousel-indicators khi được chọn */
#carouselExampleIndicators .carousel-indicators li.active {
    background-color: rgb(174, 166, 166);
    border: 2px double #000000;
}

.banner-slide {
    /* Chiều rộng của phần khúc cần hiển thị */
    height: 650px;
    /* Chiều cao của phần khúc cần hiển thị */
    overflow: hidden;
    /* Ẩn các phần tử vượt ra khỏi phạm vi của .image-container */
}

.banner-slide img {
    width: 100%;
    /* Đảm bảo hình ảnh điền vào phần tử cha */
    height: 800px;
    /* Tự động tính toán chiều cao phù hợp với tỷ lệ khung hình */
    object-fit: cover;
    /* Cắt và điều chỉnh kích thước hình ảnh để điền vào phần tử */
    object-position: center bottom;
    /* Hiển thị phần khúc dưới của hình ảnh */
}

.carousel-inner .carousel-item .banner-content {
    position: absolute;
    top: 140px;
    left: 80px;
    /* transform: translate(-300%, -150%); */
    z-index: 2;
    text-align: left;
    color: #fff;
}

.carousel-inner .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-inner .carousel-item .banner-content h2 {

    font-family: EB Garamond;
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.carousel-inner .carousel-item .banner-content .price {

    font-family: EB Garamond;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.carousel-inner .carousel-item .banner-content pre {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;

}

/* head home */
/* title */
.container-fluid .title-main-home {
    text-align: center;
    padding: 110px 0;

}

.container-fluid .title-main-home h3 {
    font-family: EB Garamond;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
}

.container-fluid .title-main-home p {
    font-family: EB Garamond;
    font-size: 30px;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
}

.container-fluid .title-main-home pre {
    font-family: EB Garamond;
    font-size: 20px;
    /* font-weight: 600; */
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.container .row .title-main {
    padding-top: 120px;
}

.container .row .title-main h3 {
    font-family: EB Garamond;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

}

.container .row .title-main p {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.025em;
}

/* product-main */
.product-main {
    margin-top: 50px;
}

.product-main .product {
    width: auto;
    margin: 15px 22px;
    text-align: left;
    float: right;
}

.product-main .product a {
    text-decoration: none;
    color: #475467;
}

.product-main .product a h3:hover {
    color: #1562b6
}

.product-main .product img {
    /* margin-left: 21px; */
    width: 260px;
    height: 230px;
}

.product-main .product h3 {
    font-family: "EB Garamond";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}

.product-main .product p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.035em;
    text-align: left;

}


/* product list */


.product-list-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.product-list-main a {
    text-decoration: none;
}

.product-list-main a h3:hover {
    color: #1562b6;
}

.product-list-main .product {
    width: 200px;
    text-align: center;
}


.product-list-main .product img {
    width: 100%;
    height: auto;
}

.product-list-main .product-title {
    margin-top: 10px;
    color: #101828;
    text-decoration: none;
}

.product-list-main .product-description {
    margin-top: 5px;
}

.product-list-main .product-price {
    margin-top: 5px;
    font-weight: bold;
}

aside {
    margin-top: 15px;
}

.product-list-title h3 {
    padding: 50px 0px 30px;
    font-family: "EB Garamond";
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.product-list-main .product-list .product-title {
    font-family: "EB Garamond";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.product-list-main .product-list .product-description {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}

.product-list-main .product-list .product-price {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.035em;
    text-align: left;

}

/* footer */

footer {
    padding: 50px 0px 10px;
    background-color: #101828;
}

footer h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #98A2B3;

}

.footer-link li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-link li a:hover {
    color: rgb(145, 140, 140);
}