<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon web  -->
    <link rel="icon" type="image/x-icon" href="../../img/logoMark.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- link javaSprict -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--link css -->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/filter-page.css">
    <title>Manager filter</title>
</head>

<body>
    <div class="background-manager">
        <nav id="Manager_Navigation" th:include="components/Manager-navigation"></nav>
        <div id="Manager_Content">
            <div class="header_content">
                <div class="header_content_text-group">
                    <h3 class="header_content_main-text text-title">Phân loại sản phẩm</h3>
                    <h5 class="header_content_sub-text text-title">Phân loại sản phẩm theo nhà sản xuất, chất liệu,
                        khuyến mãi</h5>
                </div>
                <div class="header_content_button-group">
                    <form action="" method="post">
                        <button class="btn btn-export btn-style"><i class="bi bi-cloud-download icon-text"></i> Xuất
                            file</button>
                    </form>
                </div>
            </div>
            <div class="body_content">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs body_content_tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button onclick="changeTab('km')" class="btn-style btn-tab active" id="form-promotion-tab"
                            data-bs-toggle="tab" data-bs-target="#form-promotion" type="button" role="tab"
                            aria-controls="form-promotion" aria-selected="false">Khuyến mãi</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button onclick="changeTab('cl')" class="btn-style btn-tab " id="chat-lieu-tab"
                            data-bs-toggle="tab" data-bs-target="#chat-lieu" type="button" role="tab"
                            aria-controls="chat-lieu" aria-selected="true">Chất liệu</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button onclick="changeTab('nsx')" class="btn-style btn-tab" id="nhaSanXuat-tab"
                            data-bs-toggle="tab" data-bs-target="#nhaSanXuat" type="button" role="tab"
                            aria-controls="nhaSanXuat" aria-selected="true">Nhà sản
                            xuất</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button onclick="changeTab('nl')" class="btn-style btn-tab" id="nhomLoai-tab"
                            data-bs-toggle="tab" data-bs-target="#nhomLoai" type="button" role="tab"
                            aria-controls="nhomLoai" aria-selected="true">Nhóm loại</button>
                    </li>


                </ul>
                <hr>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane " id="chat-lieu" role="tabpanel" aria-labelledby="chat-lieu-tab">
                        <div class="infor-filter-container">
                            <h5 class="infor-filter-container-title container-item text-title">Thông tin chất liệu</h5>
                            <div class="table-responsive container-item">
                                <table class="table m-0">
                                    <div class="on-the-table">
                                        <h6 class="text-on-table text-title">Chất liệu sản phẩm</h6>
                                        <button onclick="onBtnCreate()" class="btn-style btn-on-table"
                                            data-bs-toggle="modal" data-bs-target="#modal-material"><i
                                                class="bi-plus-lg"></i> Thêm chất
                                            liệu</button>
                                    </div>
                                    <thead>
                                        <tr class="table-active">
                                            <th scope="col" style="text-align: left;">
                                                <form action="" method="post">
                                                    Chất liệu

                                                </form>
                                            </th>
                                            <th scope="col">Mã chất liệu</th>
                                            <th scope="col">Ngày đăng</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="body-table-chatLieu">
                                        <tr th:id="'chatlieu' + ${chatLieu.idChatLieu}" class="row-chatLieu"
                                            th:each="chatLieu, istatus : ${pageChatLieu.content}">
                                            <!-- <form action=""> -->
                                            <td th:id="'tenChatLieu' + ${chatLieu.idChatLieu}" scope="row"
                                                class="td-first-table" th:text="${chatLieu.tenChatLieu}">
                                                ...
                                            </td>
                                            <td th:text="${chatLieu.idChatLieu}">...</td>
                                            <td th:id="'ngayTaoCl' + ${chatLieu.idChatLieu}"
                                                th:text="${chatLieu.ngayTao}">...</td>
                                            <td style="display: flex; justify-content: center;">
                                                <button th:onclick="deleteChatLieu([[${chatLieu.idChatLieu}]])"
                                                    class="btn" style="color: var(--gray_600);"><i
                                                        class="bi bi-trash-fill"></i></button>
                                                <button th:onclick="setFormChatLieu([[${chatLieu.idChatLieu}]])"
                                                    data-bs-toggle="modal" data-bs-target="#modal-material" class="btn"
                                                    style="color: var(--gray_600);"><i
                                                        class="bi bi-pen-fill"></i></button>
                                            </td>
                                            <!-- </form> -->
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: left;">
                                                <!-- <button class="btn-style btn-prev">Trước đó</button>
                                                <button class="btn-style btn-next">Kế tiếp</button> -->
                                                <a class="btn-style btn-prev disnable"
                                                    th:if="${pageChatLieu.number == 0}">Trước đó</a>
                                                <a class="btn-style btn-prev" th:if="${pageChatLieu.number > 0}"
                                                    th:href="@{/Manager/filter?pageCL=__${pageChatLieu.number-1}__&&pageNSX=__${pageNSX.number}__&&pageNL=__${pageNhomLoai.number}__}">Trước
                                                    đó</a>
                                                <a class="btn-style btn-next"
                                                    th:if="${pageChatLieu.number < pageChatLieu.totalPages - 1}"
                                                    th:href="@{/Manager/filter?pageCL=__${pageChatLieu.number+1}__&&pageNSX=__${pageNSX.number}__&&pageNL=__${pageNhomLoai.number}__}">Kế
                                                    tiếp</a>
                                                <a class="btn-style btn-next disnable"
                                                    th:if="${pageChatLieu.number == pageChatLieu.totalPages - 1}">Kế
                                                    tiếp</a>

                                            </td>

                                            <td></td>
                                            <td></td>
                                            <td style="text-align: center;"
                                                th:text="'Trang ' + ${pageChatLieu.number + 1} + ' của ' + ${pageChatLieu.totalPages} ">
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="nhaSanXuat" role="tabpanel" aria-labelledby="nhaSanXuat-tab">
                        <div class="infor-filter-container">
                            <h5 class="infor-filter-container-title container-item text-title">Thông tin nhà sản xuất
                            </h5>
                            <div class="table-responsive container-item">
                                <table class="table m-0">
                                    <div class="on-the-table">
                                        <h6 class="text-on-table text-title">Nhà sản xuất sản phẩm</h6>
                                        <button onclick="onBtnCreate()" class="btn-style btn-on-table"
                                            data-bs-toggle="modal" data-bs-target="#modal-producer"><i
                                                class="bi-plus-lg"></i> Thêm nhà sản
                                            xuất</button>
                                    </div>
                                    <thead>
                                        <tr class="table-active">
                                            <th scope="col" style="text-align: left;">
                                                <form action="" method="post">
                                                    Nhà sản xuất

                                                </form>
                                            </th>
                                            <th scope="col">Mã nhà sản xuất</th>
                                            <th scope="col">Ngày đăng</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:id="'nha-san-xuat'+${nhaSanXuat.idNhaSanXuat}" class="row-nsx"
                                            th:each="nhaSanXuat : ${pageNSX.content}">
                                            <!-- <form action=""> -->
                                            <td scope="row" th:id="'tenNhaSanXuat'+${nhaSanXuat.idNhaSanXuat}"
                                                class="td-first-table row-nsx-name"
                                                th:text="${nhaSanXuat.tenNhaSanXuat}">
                                                ...
                                            </td>
                                            <td class="row-nsx-id" th:text="${nhaSanXuat.idNhaSanXuat}">...</td>
                                            <td class="row-nsx-date" th:id="'ngayTaoNSX'+${nhaSanXuat.idNhaSanXuat}"
                                                th:text="${nhaSanXuat.ngayTao}">13/03/2023</td>
                                            <td>
                                                <button th:onclick="deleteNhaSanXuat([[${nhaSanXuat.idNhaSanXuat}]])"
                                                    class="btn" style="color: var(--gray_600);"><i
                                                        class="bi bi-trash-fill"></i></button>
                                                <button th:onclick="setFormNhaSanXuat([[${nhaSanXuat.idNhaSanXuat}]])"
                                                    data-bs-toggle="modal" data-bs-target="#modal-producer" class="btn"
                                                    style="color: var(--gray_600);"><i
                                                        class="bi bi-pen-fill"></i></button>
                                            </td>
                                            <!-- </form> -->
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: left;">
                                                <!-- <button class="btn-style btn-prev">Trước đó</button>
                                                <button
                                                    class="btn-style btn-next">Kế tiếp</button> -->
                                                <a class="btn-style btn-prev disnable"
                                                    th:if="${pageNSX.number == 0}">Trước đó</a>
                                                <a class="btn-style btn-prev" th:if="${pageNSX.number > 0}"
                                                    th:href="@{/Manager/filter?pageNSX=__${pageNSX.number-1}__&&pageCL=__${pageChatLieu.number}__&&pageNL=__${pageNhomLoai.number}__}">Trước
                                                    đó</a>
                                                <a class="btn-style btn-next"
                                                    th:if="${pageNSX.number < pageNSX.totalPages - 1}"
                                                    th:href="@{/Manager/filter?pageNSX=__${pageNSX.number+1}__&&pageCL=__${pageChatLieu.number}__&&pageNL=__${pageNhomLoai.number}__}">Kế
                                                    tiếp</a>
                                                <a class="btn-style btn-next disnable"
                                                    th:if="${pageNSX.number == pageNSX.totalPages - 1}">Kế
                                                    tiếp</a>
                                            </td>

                                            <td></td>
                                            <td></td>
                                            <td style="text-align: center;"
                                            th:text="'Trang ' + ${pageNSX.number + 1} + ' của ' + ${pageNSX.totalPages} ">
                                        </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="nhomLoai" role="tabpanel" aria-labelledby="nhomLoai-tab">
                        <div class="infor-filter-container">
                            <h5 class="infor-filter-container-title container-item text-title">Thông tin nhóm loại</h5>
                            <div class="table-responsive container-item">
                                <table class="table m-0">
                                    <div class="on-the-table">
                                        <h6 class="text-on-table text-title">Nhóm loại sản phẩm</h6>
                                        <button onclick="onBtnCreate()" class="btn-style btn-on-table"
                                            data-bs-toggle="modal" data-bs-target="#modal-type-group"><i
                                                class="bi-plus-lg"></i> Thêm nhóm
                                            loại</button>
                                    </div>
                                    <thead>
                                        <tr class="table-active">
                                            <th scope="col" style="text-align: left;">
                                                <form action="" method="post">
                                                    Nhóm loại

                                                </form>
                                            </th>
                                            <th scope="col">Mã nhóm loạit</th>
                                            <th scope="col">Ngày đăng</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:id="'nhom-loai' + ${nhomLoai.idPhanNhomLoai}" class=""
                                            th:each="nhomLoai : ${pageNhomLoai.content}">
                                            <!-- <form action=""> -->
                                            <td scope="row" class="td-first-table"
                                                th:id="'tenNhomLoai' + ${nhomLoai.idPhanNhomLoai}"
                                                th:text="${nhomLoai.tenPhanLoaiNhom}">
                                                Nhóm loại
                                            </td>
                                            <td th:text="${nhomLoai.idPhanNhomLoai}">Mã nhóm loại</td>
                                            <td th:id="'ngayTaoNL' + ${nhomLoai.idPhanNhomLoai}"
                                                th:text="${nhomLoai.ngayTao}">13/03/2023</td>
                                            <td>
                                                <button th:onclick="deleteNhomLoai([[${nhomLoai.idPhanNhomLoai}]])"
                                                    class="btn" style="color: var(--gray_600);"><i
                                                        class="bi bi-trash-fill"></i></button>
                                                <button th:onclick="setFormNhomLoai([[${nhomLoai.idPhanNhomLoai}]])"
                                                    class="btn" style="color: var(--gray_600);" data-bs-toggle="modal"
                                                    data-bs-target="#modal-type-group"><i
                                                        class="bi bi-pen-fill"></i></button>
                                            </td>
                                            <!-- </form> -->
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: left;">
                                                <!-- <button class="btn-style btn-prev">Trước đó</button>
                                                <button class="btn-style btn-next">Kế tiếp</button> -->

                                                <a class="btn-style btn-prev disnable"
                                                    th:if="${pageNhomLoai.number == 0}">Trước đó</a>
                                                <a class="btn-style btn-prev" th:if="${pageNhomLoai.number > 0}"
                                                    th:href="@{/Manager/filter?pageNL=__${pageNhomLoai.number-1}__&&pageNSX=__${pageNSX.number}__&&pageCL=__${pageChatLieu.number}__}">Trước
                                                    đó</a>
                                                <a class="btn-style btn-next"
                                                    th:if="${pageNhomLoai.number < pageNhomLoai.totalPages - 1}"
                                                    th:href="@{/Manager/filter?pageNL=__${pageNhomLoai.number+1}__&&pageNSX=__${pageNSX.number}__&&pageCL=__${pageChatLieu.number}__}">Kế
                                                    tiếp</a>
                                                <a class="btn-style btn-next disnable"
                                                    th:if="${pageNhomLoai.number == pageNhomLoai.totalPages - 1}">Kế
                                                    tiếp</a>
                                            </td>

                                            <td></td>
                                            <td></td>
                                            <td style="text-align: center;"
                                                th:text="'Trang ' + ${pageNhomLoai.number + 1} + ' của ' + ${pageNhomLoai.totalPages} ">
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane active" id="form-promotion" role="tabpanel"
                        aria-labelledby="form-promotion-tab">
                        <div class="form-promotion-pane">
                            <form th:action="@{/Manager/filter/khuyenMai/create}" th:object="${khuyenMaiMain}"
                                method="post">
                                <div class="group-fleld group-fleld-01">
                                    <h5 class="form-promotion-container-title text-title">Thông tin khuyến mãi</h5>
                                </div>
                                <div class="group-fleld group-fleld-02">
                                    <div class="mb-3 form-group">
                                        <label for="date-start_promotion" class="form-label">Ngày bắt đầu</label>
                                        <input type="date" th:field="*{ngayBatDau}" name="date_start_promotion"
                                            id="date-start_promotion" class="form-control box-shadow-none"
                                            placeholder="">
                                        <small id="helpId" class="text-muted color-style-validate"
                                            th:if="${#fields.hasErrors('ngayBatDau')}"
                                            th:errors="*{ngayBatDau}">..</small>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="date-end_promotion" class="form-label">Ngày kết thúc</label>
                                        <input type="date" th:field="*{ngayKetThuc}" name="date_end_promotion"
                                            id="date-end_promotion" class="form-control box-shadow-none" placeholder="">
                                        <small id="helpId" class="text-muted color-style-validate"
                                            th:if="${#fields.hasErrors('ngayKetThuc')}"
                                            th:errors="*{ngayKetThuc}">..</small>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="discount-promotion" class="form-label">Phần trăm khuyến mãi</label>
                                        <div class="input-group">
                                            <input type="number" th:field="*{phamTramKhuyenMai}"
                                                name="discount_promotion" id="discount-promotion"
                                                class="form-control box-shadow-none" placeholder=""
                                                aria-describedby="discount_promotion-label">
                                            <span class="input-group-text" id="discount_promotion-label">Phần trăm
                                                (%)</span>
                                        </div>
                                        <small id="helpId" class="text-muted color-style-validate"
                                            th:if="${#fields.hasErrors('phamTramKhuyenMai')}"
                                            th:errors="*{phamTramKhuyenMai}">..</small>
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-03">
                                    <div class="mb-3 form-group">
                                        <label for="id_name_promotion" class="form-label">Tên mã giảm giá</label>
                                        <input type="text" th:field="*{tenKhuyenMai}" name="id-name-promotion"
                                            id="id_name_promotion" class="form-control box-shadow-none" placeholder="">
                                        <small id="helpId" class="text-muted color-style-validate"
                                            th:if="${#fields.hasErrors('tenKhuyenMai')}"
                                            th:errors="*{tenKhuyenMai}">..</small>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="id_promotion" class="form-label">Mã giảm giá</label>
                                        <input type="text"
                                            style="pointer-events: none; background-color: var(--gray_100);"
                                            th:field="*{idKhuyenMai}" name="id_promotion" id="id_promotion"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>

                                <div class="group-fleld group-fleld-04">
                                    <button formaction="/Manager/filter/khuyenMai/clear"
                                        class="btn btn-style btn-clear"><i class="bi-brush"></i></button>
                                    <button th:if="${buttonUpdate}" id="btn-update-km"
                                        formaction="/Manager/filter/khuyenMai/update"
                                        class="btn btn-style btn-update">Cập nhật</button>
                                    <button th:if="${buttonUpdate == false}" id="btn-add-km"
                                        class="btn btn-style btn-add">Thêm mới</button>
                                </div>
                            </form>
                            <hr style="width: 95%; margin: 20px auto;">
                            <div class="group-fleld group-fleld-05">
                                <div class="table-responsive ">
                                    <table class="table m-0">
                                        <div class="on-the-table">
                                            <h6 class="text-on-table text-title">Khuyến mãi sản phẩm</h6>
                                        </div>
                                        <thead>
                                            <tr class="table-active">
                                                <th scope="col" style="text-align: left;">
                                                    <form action="" method="post">
                                                        Mã giảm giá
                                                    </form>
                                                </th>
                                                <th scope="col">Phần trăm</th>
                                                <th scope="col">Ngày bắt đầu</th>
                                                <th scope="col">Ngày kết thúc</th>
                                                <th scope="col">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:id="'row-khuyenMai' + ${khuyenMai.idKhuyenMai}" class=""
                                                th:each="khuyenMai : ${ListKM}">
                                                <td scope="row" class="td-first-table"
                                                    th:text="${khuyenMai.idKhuyenMai}">
                                                    Nhà sản xuất
                                                </td>
                                                <td th:text="${khuyenMai.phamTramKhuyenMai * 100}">10%</td>
                                                <td th:text="${khuyenMai.ngayBatDau}">13/03/2023</td>
                                                <td th:text="${khuyenMai.ngayKetThuc}">13/05/2023</td>
                                                <td
                                                    style="display: flex; justify-content: center; align-items: center;">

                                                    <button th:onclick="deleteKhuyenMai([[${khuyenMai.idKhuyenMai}]])"
                                                        class="btn" style="color: var(--gray_600);"><i
                                                            class="bi bi-trash-fill"></i></button>
                                                    <form
                                                        th:action="@{/Manager/filter/khuyenMai/eidt/__${khuyenMai.idKhuyenMai}__}"
                                                        method="post">
                                                        <button class="btn btn-eidt" style="color: var(--gray_600);"><i
                                                                class="bi bi-pen-fill"></i></button>
                                                    </form>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal nhà sản xuất -->
    <div class="modal fade" id="modal-producer" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content" style="border-radius: 8px; width: 90%; margin: auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Thông tin nhà sản xuất</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="/Manager/filter/nhaSanXuat/create" th:object="${nhaSanXuatMain}" method="post">
                            <div class="form-group-modal form-group-modal-01">
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Mã nhà sản xuất</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="id-produser">SX</span>
                                        <input type="text" name="" id="maNhaSanXuat" th:field="*{idNhaSanXuat}"
                                            style="pointer-events: none; background-color: var(--gray_100);"
                                            class="form-control box-shadow-none modal-input-number nsx-input" placeholder=""
                                            aria-describedby="id-produser">
                                    </div>
                                    <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Tên nhà sản xuất</label>
                                    <input type="text" name="" id="tenNhaSanXuat" th:field="*{tenNhaSanXuat}"
                                        class="form-control box-shadow-none modal-input nsx-input" placeholder="">
                                    <small style="display: none;" id="tenNhaSanXuat-text" class="text-muted">Vui lòng
                                        nhập tên nhà sản xuất !</small>
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Ngày tạo</label>
                                    <input type="date" name="" id="ngayTaoNSX"  th:field="*{ngayTao}"
                                        class="form-control box-shadow-none modal-input nsx-input" placeholder="">
                                    <small style="display: none;" id="ngayTaoNSX-text" class="text-muted">Vui lòng chọn
                                        ngày đăng !</small>
                                </div>
                            </div>
                            <div class="form-group-modal form-group-modal-02">
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Mô tả nhà sản xuất</label>
                                    <textarea class="form-control box-shadow-none modal-input nsx-input" name="" th:field="*{moTaNhaSanXuat}"
                                        id="moTaNhaSanXuat" rows="9"></textarea>
                                    <small style="display: none;" id="moTaNhaSanXuat-text" class="text-muted">Vui lòng
                                        nhập mô tả !</small>
                                </div>
                            </div>
                            <button disabled formaction="/Manager/filter/nhaSanXuat/update" id="CapNhatNSX" class="btn btn-style btn-update box-shadow-none d-none">Cập
                                nhật</button>
                            <button disabled id="ThemMoiNSX" class="btn btn-style btn-add box-shadow-none d-none">Thêm mới</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="updateNhaSanXuat()" class="btn btn-style btn-update box-shadow-none">Cập
                        nhật</button>
                    <button onclick="insertNhaSanXuat()" class="btn btn-style btn-add box-shadow-none">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal chất liệu -->
    <div class="modal fade" id="modal-material" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content" style="border-radius: 8px; width: 90%; margin: auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Thông tin chất liệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <form th:action="@{/Manager/filter/chatLieu/create}" th:object="${chatLieuMain}" method="post">
                            <div class="form-group-modal form-group-modal-01">
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Mã chất liệu</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="id-material">CL</span>
                                        <input type="number" name="" id="maChatLieu" th:field="*{idChatLieu}"
                                            style="pointer-events: none; background-color: var(--gray_100);"
                                            class="form-control box-shadow-none modal-input-number cl-input" placeholder=""
                                            aria-describedby="id-material">
                                    </div>
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Tên chất liệu</label>
                                    <input type="text" name="" id="tenChatLieu" th:field="*{tenChatLieu}"
                                        class="form-control box-shadow-none modal-input cl-input" placeholder="">
                                    <small style="display: none;" id="tenChatLieu-text">Vui lòng nhập tên chất
                                        liệu</small>
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Ngày tạo</label>
                                    <input type="date" name="" id="ngayTaoCL" th:field="*{ngayTao}"
                                        class="form-control box-shadow-none modal-input cl-input" placeholder="">
                                    <small style="display: none;" id="ngayTaoCL-text">Vui lòng chọn ngày tạo chất
                                        liệu</small>
                                </div>
                            </div>
                            <div class="form-group-modal form-group-modal-02">
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Mô tả chất liệu</label>
                                    <textarea class="form-control box-shadow-none modal-input cl-input" name="" id="moTaChatLieu"
                                        th:field="*{moTaChatLieu}" rows="9"></textarea>
                                    <small style="display: none;" id="moTaChatLieu-text">Vui lòng nhập mô tả</small>
                                </div>
                            </div>
                            <button disabled id="ThemMoiChatLieu" class="btn btn-style btn-add box-shadow-none d-none">Thêm
                                mới</button>
                            <button disabled formaction="/Manager/filter/chatLieu/update" id="CapNhatChatLieu" class="btn btn-style btn-update box-shadow-none">Cập
                                nhật</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="updateChatLieu()" class="btn btn-style btn-update box-shadow-none">Cập
                        nhật</button>
                    <button onclick="insertChatLieu()" class="btn btn-style btn-add box-shadow-none">Thêm
                        mới</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal nhóm loại -->
    <div class="modal fade" id="modal-type-group" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content" style="border-radius: 8px; width: 90%; margin: auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Thông tin nhóm loại</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="/Manager/filter/nhomLoai/create" th:object="${nhomLoaiMain}" method="post" >
                            <div class="form-group-modal form-group-modal-01">
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Mã nhóm loại</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="id-produser">NL</span>
                                        <input type="text" name="" id="maNhomLoai" th:field="*{idPhanNhomLoai}"
                                            style="pointer-events: none; background-color: var(--gray_100);"
                                            class="form-control box-shadow-none modal-input-number nl-input" placeholder=""
                                            aria-describedby="id-produser">
                                    </div>
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Tên nhóm loại</label>
                                    <input type="text" name="" id="tenNhomLoai" th:field="*{tenPhanLoaiNhom}"
                                        class="form-control box-shadow-none modal-input nl-input" placeholder="">
                                    <small id="tenNhomLoai-text" style="display: none;" class="text-muted">Vui lòng nhập
                                        tên nhóm loại !</small>
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Ngày tạo</label>
                                    <input type="date" name="" id="ngayTaoNL" th:field="*{ngayTao}"
                                        class="form-control box-shadow-none modal-input nl-input" placeholder="">
                                    <small id="ngayTaoNL-text" style="display: none;" class="text-muted">Vui lòng chọn
                                        ngày nhóm loại !</small>
                                </div>
                            </div>
                            <div class="form-group-modal form-group-modal-02">
                                <div class="mb-3 form-group">
                                    <label for="" class="form-label">Mô tả nhóm loại</label>
                                    <textarea class="form-control box-shadow-none modal-input nl-input" name="" id="moTaNhomLoai" th:field="*{moTaPhanLoai}"
                                        rows="9"></textarea>
                                    <small id="moTaNhomLoai-text" style="display: none;" class="text-muted">Vui lòng
                                        nhập mô tả !</small>
                                </div>

                            </div>
                            <button disabled formaction="/Manager/filter/nhomLoai/update" id="CapNhatNhomLoai" class="btn btn-style btn-update box-shadow-none d-none">Cập
                                nhật</button>
                            <button disabled id="ThemMoiNhomLoai" class="btn btn-style btn-add box-shadow-none d-none">Thêm mới</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="updateNhomLoai()" class="btn btn-style btn-update box-shadow-none">Cập
                        nhật</button>
                    <button onclick="insertNhomLoai()" class="btn btn-style btn-add box-shadow-none">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="/javascripts/Manager-filter.js"></script>
<script th:if="${TabPin == 'nsx'}">
    var chatLieuTab = document.getElementById("chat-lieu-tab");
    var chatLieu = document.getElementById("chat-lieu");

    var nhaSanXuatTab = document.getElementById("nhaSanXuat-tab");
    var nhaSanXuat = document.getElementById("nhaSanXuat");

    var nhomLoaiTab = document.getElementById("nhomLoai-tab");
    var nhomLoai = document.getElementById("nhomLoai");

    var PromotionTab = document.getElementById("form-promotion-tab");
    var Promotion = document.getElementById("form-promotion");

    function offButton() {
        $(".btn-tab").css("background-color", "white");
        $(".btn-tab").css("border", "none");
    }

    offButton()
    nhaSanXuatTab.style.backgroundColor = 'var(--gray_50)';
    nhaSanXuatTab.style.border = '1px solid var(--gray_300)';
    nhaSanXuat.className = "tab-pane active";
    chatLieu.className = "tab-pane";
    Promotion.className = "tab-pane";
    nhomLoai.className = "tab-pane";
</script>
<script th:if="${TabPin == 'nl'}">
    var chatLieuTab = document.getElementById("chat-lieu-tab");
    var chatLieu = document.getElementById("chat-lieu");

    var nhaSanXuatTab = document.getElementById("nhaSanXuat-tab");
    var nhaSanXuat = document.getElementById("nhaSanXuat");

    var nhomLoaiTab = document.getElementById("nhomLoai-tab");
    var nhomLoai = document.getElementById("nhomLoai");

    var PromotionTab = document.getElementById("form-promotion-tab");
    var Promotion = document.getElementById("form-promotion");

    function offButton() {
        $(".btn-tab").css("background-color", "white");
        $(".btn-tab").css("border", "none");
    }
    offButton();
    nhomLoaiTab.style.backgroundColor = 'var(--gray_50)';
    nhomLoaiTab.style.border = '1px solid var(--gray_300)';
    nhomLoai.className = "tab-pane active";
    chatLieu.className = "tab-pane";
    Promotion.className = "tab-pane";
    nhaSanXuat.className = "tab-pane";

</script>
<script th:if="${TabPin == 'cl'}">
    var chatLieuTab = document.getElementById("chat-lieu-tab");
    var chatLieu = document.getElementById("chat-lieu");

    var nhaSanXuatTab = document.getElementById("nhaSanXuat-tab");
    var nhaSanXuat = document.getElementById("nhaSanXuat");

    var nhomLoaiTab = document.getElementById("nhomLoai-tab");
    var nhomLoai = document.getElementById("nhomLoai");

    var PromotionTab = document.getElementById("form-promotion-tab");
    var Promotion = document.getElementById("form-promotion");

    function offButton() {
        $(".btn-tab").css("background-color", "white");
        $(".btn-tab").css("border", "none");
    }
    offButton();
    chatLieuTab.style.backgroundColor = 'var(--gray_50)';
    chatLieuTab.style.border = '1px solid var(--gray_300)';
    chatLieu.className = "tab-pane active";
    nhaSanXuat.className = "tab-pane";
    Promotion.className = "tab-pane";
    nhomLoai.className = "tab-pane";

</script>

</html>