*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-slide {
    width: 100%;
    height: 80vh;
    background-image: url('../img/Banner-about.png');
    background-size: cover;
}

.banner-slide .background-content {
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: inherit;
    width: 70%;
}

.banner-slide .background-content div{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.288);
}

.banner-slide .background-content div .banner-content {
    width: 75%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
}

.banner-slide .background-content div .banner-content .title-content {
    font-family: var(--font_secondary);
    font-size: 36px;
    color: var(--gray_25);
}

.banner-slide .background-content div .banner-content .text-content {
    font-family: var(--font_primary);
    font-size: 18px;
    color: var(--gray_25);
    text-align: justify;
    line-height: 30px;
}

.title-about {
    width: 100%;
    height: 80vh;
}

.title-about .name-page{
    word-spacing: 10px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    font-family: var(--font_primary);
    font-weight: 500;
    color: var(--gray_500);
}

.title-about .description-page {
    text-align: center;
    font-family: var(--font_secondary);
    font-weight: 500;
    color: var(--gray_800);
    font-size: 26px;
    margin-bottom: 20px;
}

.title-about .row {
    justify-content: space-between;
    overflow: hidden;
}

.product-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: calc((100% - 5%)/3);
    background-color: var(--gray_200);
    height: 300px;
}


/* banner mid */
.title-mid-about {
   width: 100%;
    height: 475px;
    background-image: url('../img/banner2-about.jpg');
    background-size: cover;
}

.banner-slide-mid {
    width: 100%;
    height: inherit;
    background-color: #1d1d1d91;
    overflow: hidden;
}
.banner-content-mid {
    height: inherit;
    display: flex;

} 

.banner-content-mid p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font_secondary);
    width: 50%;
    margin: auto;
    color: var(--gray_25);
   
}

.create-website {
    margin-top: 30px;
}

.creator-title h3 {
    font-family: "EB Garamond";
    font-size: 22px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0.085em;
    text-align: center;

}

.creator-title h5 {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #475467;
}

.creator-text {

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    color: #000000;
}

/* creator-card */
.creator-card img {
    width: 300px;
    height: 350px;
    margin-top: 50px;
}

.creator-card h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

}

.creator-card .text-muted {
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #000000;
    margin: 20px 0;
}
.creator-card h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.025em;
    text-align: left;
    color: #475467;
    margin: 10px 0px 60px;
}
