/* carb blog  */


.card-blog-main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-link .blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-blog-main .card-blog {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  background: rgb(255, 255, 255);
  width: calc((100% - 1.5%)/3);
  margin: 10px 0;
}

.card-blog-main .card-blog h5 {
  width: 90%;
  margin: 10px auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #344054;
}

.card-blog-main .card-blog h3 {
  width: 90% !important;
  margin: 10px auto;
}

.card-blog-main .card-blog h3 a {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: var(--gray_700);
 
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-blog-main .card-blog h3 a:hover {
  color: var(--gray_700);
}

.card-blog-main .card-blog p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #667085;
  width: 90%;
  margin: 20px auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.auther-item {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.pagination {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.page-link {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  margin: 0 5px;
  font-size: 14px;
  font-weight: 500;
}

.page-item {
  display: inline;
}

.page-list .active {
  color: #7F56D9;
  background-color: #48306d;
}

.pagination-pre {}



/* zoooom  */
.noidung {
  overflow: hidden;
  width: 90%;
  height: 300px;
  margin: 20px auto;
}

.zoom_color img {
  height: 300px;
  width: 300px;
  transition: transform .4s, filter 1.5s ease-in-out;
  /* filter: grayscale(100%); */
}

.zoom_color img:hover {
  /* filter: grayscale(0); */
  transform: scale(1.1);
}


.author-blog {
  border-left: 1px solid var(--gray_500);
}

.author-blog,
.view-blogs,
.date-post {
  font-family: var(--font_tertiary);
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  padding: 8px 20px;
  border-right: 1px solid var(--gray_500);
  color: var(--gray_500);
}



.title-blogs {
  font-size: 40px;
  margin: 20px 0;
  font-family: var(--font_tertiary);
  font-weight: 500;
}

.banner-blog {
  width: 100%;
  height: fit-content;
}

.banner-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px 0;
}