/* carb blog  */

.card-blog-main .card-blog {
  margin: 62px 0 0px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  background: rgb(255, 255, 255);
  padding: 0 0 25px;
}

.card-blog-main .card-blog .blog-img {
  height: 270px;
  width: 365px;
  margin: 25px 25px 25px 25px;
}
.card-blog-main .card-blog h5 {
  margin: 10px 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #344054;
}
.card-blog-main .card-blog .item-title h3  a{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.card-blog-main .card-blog .item-title h3 a:hover {
    color: green;
  }
.card-blog-main .card-blog p {
    margin: 10px 25px 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
}
.pagination {
    display: flex;
    list-style: none;
    margin-top: 10px;
  }
  .page-link {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    margin: 0 5px;
  }
  
  .page-item {
    display: inline;
  }
  .page-list .active{
    color: #7F56D9;
    background-color: #48306d;
}