@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background-color: #f7f8f9; */
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
}

.container-main {
    width: 80%;
    height: 100vh;
    margin: calc((100vh - 80vh)/2) auto;
}

.lg-container {
    /* width: 80%;
    height: 100vh;
    margin: calc((100vh - 80vh)/2) auto; */
    /* background: #fff; */
    /* border-radius: 15px; */
    /* box-shadow: 1px 2px 8px 8px #ccc3; */
    display: flex;
    /* margin-top: 4rem; */
    overflow: hidden;
}

.lg-container-ctent {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.lg-ct-left {
    width: 55%;
}

.lg-ct-form {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.lg-ct-top {
    text-align: left;
}

.lg-ct-title {
    width: 448px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
}

.lg-ct-sub-title {
    width: 448px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
}

.lg-ct-form .lg-ct-form-mb-3-mix {
    display: flex;
}

.lg-ct-form .lg-ct-form-mb-3-mix .mb-3 .form-control {
    padding: 12px 16px;
    gap: 8px;
    width: 224px;
    height: 48px;
    margin-right: 30px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 3px;
}

.lg-ct-form .mb-3 {
    margin-bottom: 26px !important;
}

.lg-ct-form .mb-3 label {
    width: 100px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.lg-ct-form .mb-3 .form-control {
    padding: 12px 16px;
    gap: 8px;
    width: 480px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 3px;
}

.lg-ct-form .lg-ct-mid-form-check {
    display: flex;
    justify-content: space-between;
}

.lg-ct-form .lg-ct-mid-form-check label {
    width: 93px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.lg-ct-form .input-group textarea {
    padding: 10px 14px;
    gap: 8px;
    width: 480px;
    height: 128px;
    border-radius: 3px;
}

.lg-ct-form .form-check label {
    width: 448px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.lg-ct-form .btn-primary {
    padding: 20px;
    gap: 8px;
    width: 480px;
    height: 68px;
    background: #101828;
    border: 1px solid #475467;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.lg-ct-form .lg-ct-end {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 400px;
    height: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* color: #000000; */
    /* color: #101828; */

}

.lg-ct-form .lg-ct-end p {
    color: #000000;
}

.lg-ct-form .lg-ct-end a {
    margin-left: 5px;
    color: #101828;
    text-decoration: none;
}

/* ------------------------------------ */
.lg-ct-right {
    width: 45%;
    /* height: 100%; */
}

.lg-image {
    width: 100%;
    /* border: 10px; */
    /* margin: 20px 16px; */
    overflow: hidden;
    height: 100%;
    /* background-color: antiquewhite; */
}

.lg-image img {
    width: 100%;
    /* border-radius: 10px; */
    height: 100%;
    object-fit: cover;

}

/* ------------------ */

.lg-content-mid .lg-ct-map {
    display: flex;
    justify-content: center;
}

.lg-content-mid .lg-ct-bot-cter p {
    margin: 0 auto;
    /* text-align: center; */
}

.lg-ct-bot-cter .lg-ct-tile-top {
    margin-top: 10% !important;
    margin-bottom: 15px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #344054;
    padding: 4px 12px;
    width: 89px;
    height: 28px;
    background: #F9FAFB;
    border-radius: 16px;
}

.lg-ct-bot-cter .lg-ct-tile-bot {
    margin-bottom: 50px !important;
    display: flex;
    align-items: center;
    width: 312px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

/* ------------------ */
.lg-content-bot {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 373.33px;
    height: 86px;   
}

.lg-content-bot p {
    width: 373.33px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #667085;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0
}

.lg-content-bot h3 {
    width: 373.33px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}