/* navbar-no-login */
@import url("/styles/root.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.navbar {
    justify-content: center;
    /* width: 100vw; */
    height: 80px;
    /* position: fixed; */
    top: 0;
    background-color: var(--gray_25);
    /* z-index: 3; */
    border-bottom: 1px solid var(--gray_200);
}

.navbar-nav {
    flex-direction: row;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-brand {
    margin-right: auto;
}

.ms-auto {
    margin-left: auto;
}

.navbar>.container {
    height: inherit;
}

.nav-item .sign-navbar a {

    background-color: #000000;
    text-align: center;
    color: white;
    font-weight: 500;
    border: 2px solid black;
    width: 110px;
    border-radius: 3px;
}

.nav-item .sign-navbar a:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
    font-weight: 500;
}


/* navbar */
.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
}

.dropdown-hover:hover>.dropdown-toggle {

    color: #040505 !important;
}

.dropdown-hover>.dropdown-toggle:active {
    pointer-events: none;
}

.item-menu .nav-item {
    margin: 0 12px;
    padding: 20px 0;
}

.nav-item .nav-link {
    font-size: 18px;
    font-family: var(--font_tertiary);
    color:#344054;
    font-weight: 500;
    transition: 0.5s;
}

.nav-item .nav-link:hover {
    transform: translateY(-5px);
    color: #344054
}


.signin-group {
    display: flex;
    align-items: center;
}


.signin-group li {
    margin: 0 10px;
}

.signin-group .sign-navbar {
    margin: 0;
}


.signin-group .sign-navbar .sigin {
    background-color: var(--gray_900) !important;
    color: var(--gray_100) !important;
    padding: 10px 23px;
    border-radius: 3px;
}

.signin-group .sign-navbar .sigin:hover {
    transform: none;
    border-radius: 25px;
}


.icon-navbar {
    font-weight: 700;
    margin-right: 20px;
}

.icon-navbar span {
    padding: 10px;
}


.navbar .megamenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 15%;
        right: 0;
        width: 75%;
        margin-top: 15px;
    }

}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

.megamenu .item-group .item-opsition-menu {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-radius: 3px;
    margin: 5px 0;
    cursor: pointer;
}

.room-group .item-opsition-menu {
    transition: 0.5s;
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-radius: 3px;
    margin: 5px 0;
    cursor: pointer;
}


.megamenu .item-group .item-opsition-menu a,
.megamenu .item-group .item-opsition-menu p {
    padding-left: 7px;
}



.item-opsition-menu:hover {
    background-color: var(--gray_200);
}

.item-opsition-menu a {
    font-family: var(--font_tertiary);
    text-decoration: none;
    color: #101828;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}


.item-opsition-menu p {
    font-family: var(--font_tertiary);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0 20px;
}

.item-opsition-menu .material-symbols-sharp {
    margin-right: 10px;
    margin-bottom: 15px;
    font-weight: 400;
    background: #F4EBFF;
    padding: 10px;
    border-radius: 100%;
    margin: 0;
}

/* banner */

#carouselExampleIndicators .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
}

#carouselExampleIndicators .carousel-indicators {
    justify-content: flex-end;
}

#carouselExampleIndicators .carousel-indicators li {
    background-color: white;

    border: 2px double #000000;

}

/* Thiết lập màu cho carousel-indicators khi được chọn */
#carouselExampleIndicators .carousel-indicators li.active {
    background-color: rgb(174, 166, 166);
    border: 2px double #000000;
}

.banner-slide {
    /* Chiều rộng của phần khúc cần hiển thị */
    height: 650px;
    /* Chiều cao của phần khúc cần hiển thị */
    overflow: hidden;
    /* Ẩn các phần tử vượt ra khỏi phạm vi của .image-container */
}

.banner-slide img {
    width: 100%;
    /* Đảm bảo hình ảnh điền vào phần tử cha */
    height: 800px;
    /* Tự động tính toán chiều cao phù hợp với tỷ lệ khung hình */
    object-fit: cover;
    /* Cắt và điều chỉnh kích thước hình ảnh để điền vào phần tử */
    object-position: center bottom;
    /* Hiển thị phần khúc dưới của hình ảnh */
}

.carousel-inner .carousel-item .banner-content {
    position: absolute;
    top: 140px;
    left: 80px;
    /* transform: translate(-300%, -150%); */
    z-index: 2;
    text-align: left;
    color: #fff;
}

.carousel-inner .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-inner .carousel-item .banner-content h2 {

    font-family: EB Garamond;
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.carousel-inner .carousel-item .banner-content .price {

    font-family: EB Garamond;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.carousel-inner .carousel-item .banner-content pre {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;

}

/* duong dan con  */
.duongdancon a {
    color: #475467;
    text-decoration: none;
}

.duongdancon a:hover {
    color: #09459f;
    text-decoration: underline;
}

.registered-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registered-group .registered-group-search {
    
    margin: 20px;
}

.registered-group .registered-group-search i{
    font-size: 22px;
}


.registered-group .registered-group-cart  {
    position: relative;
    margin-right: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.registered-group .registered-group-cart:hover {
    transform: translateY(-5px);
}

.registered-group .registered-group-cart  i{
    font-size: 22px;
}

.registered-group .registered-group-cart .number-item {
    position: absolute;
    left: -30px;
}

.registered-group  .registered-group-account {
    text-align: right;
    display: flex;
    align-items: center;
}

.registered-group  .registered-group-account .registered-group-account-name-text{
    font-family: var(--font_tertiary);
    font-weight: 500;
}

.registered-group  .registered-group-account .registered-group-account-email-text {
   font-size: 15px;
    color: var(--gray_600);
}

.registered-group  .registered-group-account .registered-group-account-img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.registered-group  .registered-group-account .registered-group-account-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}