form {
  position: relative;
  width: 300px;
  padding: 40px 70px;
}

focus {
  outline: none;
}

svg,
line {
  position: relative;
  display: block;
  width: 510px;
  height: 2px;
}

input[maxlength="5"] {
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
}

input[maxlength="4"] {
  margin-left: 41px;
  width: 500px;
  font-size: 24px;
  border: 0;
  margin-left: 60px;
  letter-spacing: 106px;
  outline: none;
}

input[maxlength="4"] + svg line {
  stroke-dasharray: 30;
  stroke-dashoffset: -10;
}

.title-otp {
  margin: 0 40px 40px 30px;
}

.card-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #007bff;
}

.title-otp {
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.btn-otp button {
  margin-left: 200px;
  width: 100%;
}

#btn-confim02{
  display: flex;
  justify-content: center;
  width: 68%;
  margin: 20px auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_tertiary);
}

.container {
  margin: auto;
  padding: 0;
}

.container .content-group{
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.title-page-main {
  font-size: 36px;
  font-weight: 600;
  color: var(--gray_900);
  margin-bottom: 10px;
}

.title-page-sub{
  font-weight: 400;
  font-size: 16px;
  color: var(--gray_400);
}

.btn-dark {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
}