/* title */
.product-item-title h3 {
    font-family: "EB Garamond";
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.product-item-title h5 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #344054;

}



/* product item  */


img {
    max-width: 100%;
}

.preview {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    height: 650px;
    animation-name: opacity;
    animation-duration: .3s;
}

.card {
    margin-top: 0px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: flex;
    }
}

.details {
    display: flex;
    flex-direction: column;
}

.colors {
    flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: uppercase;
    font-weight: bold;
}

.checked,
.price span {
    color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    /* margin-left: 40px; */
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    /* margin-left: 20px; */
}

.add-to-cart,
.like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
    text-decoration: none;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: "fontawesome";
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: scale(3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.nav-item img {
    width: 137px;
    height: 114px;
}


/* product item texxt  */

.product-item-text .product-item-name h3 {
    font-family: "EB Garamond";
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}

.product-item-text h5 {
    font-size: 26px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.product-item-text .properties h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-align: left;
}
.product-item-text .properties h3 span{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-align: left;
    color: Gray/500;
}