/* title */
.product-item-title h3 {
    font-family: "EB Garamond";
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.product-item-title h5 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #344054;

}

/* gia san pham  */
.product-price-proItem{
    font-size: 26px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }

  .old-price-proItem{
    color: #667085;
    font-size: 20px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }
/* product item  */


img {
    max-width: 100%;
}

.preview {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.img-tabcontent img {
    width: 100%;
    height: 650px;
    animation-name: opacity;
    animation-duration: .3s;
}

.card {
    margin-top: 0px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: flex;
    }
}

.details {
    display: flex;
    flex-direction: column;
}

.colors {
    flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: uppercase;
    font-weight: bold;
}

.checked,
.price span {
    color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}


.add-to-cart,
.like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
    text-decoration: none;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: "fontawesome";
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: scale(3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.nav-item img {
    width: 137px;
    height: 114px;
}


/* product item texxt  */

.product-item-text .product-item-name h3 {
    font-family: "EB Garamond";
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}

.product-item-text h5 {
    font-size: 26px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.product-item-text .properties h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-align: left;
}

.product-item-text .properties h3 span {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-align: left;
    color: #667085;
}

/* quatittyy */


.quantity label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-align: left;

}

.quantity .input-group {
    flex-grow: 1;
    width: auto;
}

.quantity .input-group-prepend,
.quantity .input-group-append {
    display: flex;
}

.quantity .input-group-prepend .btn,
.quantity .input-group-append .btn {
    border-radius: 0;
    background-color: #171d27;
    color: white;
}

.quantity .input-group-prepend .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.quantity .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.quantity-input {
    text-align: center;
    width: 80px;
    height: 40px;
}

/* item-more */
.item-more label {
    margin: 35px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-align: left;
}

.option-item select {
    width: 100%;
    height: 44px;
    border-radius: 2px;
    padding-left: 15px;
    color: #667085;
    border: 1px solid #D0D5DD;
}

/* btn sell  */
.button-sell .btn-sell {
    width: 40%;
    height: 57px;
    background-color: black;
    color: white;
}

.link-sell{
    width: 40%;
}
.link-base{
    width: 40%;
}
.button-sell .btn-sell{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
}

.button-sell .btn-sell:hover{
    color: black;
    background-color: white;
}

.button-sell .btn-base {
    width: 100%;
    height: 57px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    background-color: white;
}

.button-sell .btn-base:hover{
    color: white;
    background-color: black;
}

/* tab mota */
.nav-tabs {
    background: #344054;
}

.nav-link.active::after {
    content: '';
    display: flex;
    width: 100%;
    height: 2px;    
    background: #f4f4f4;
}
.nav-tabs .nav-link{    
    border: 0px;
    padding: 20px;
    font-size: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #344054;
    padding: 20px;
}
/* mo ta - huong dan lap dat  */
/* .nav-link .active .img-item{
    position: relative;
    height: 75px;
  } */
/* 
  .nav-link.active.img-item::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active .img-item{
    color: #f5f5f5;
    background-color: #344054;
    border-color: #344054;
  } */

  .nav-tabs .nav-link{  
    margin: 10px 20px;
    /* background: 0 0; */
    /* border: 1px solid transparent; */
    /* border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; */
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    font-family: "EB Garamond";
  }

  .nav.nav-tabs {
    margin-top: 40px;
    height: 100px;
    padding-left: 40px;
    background-color: #344054;
  }

  .description p {
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
  }

  .preserve {
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    margin-top: 100px;
  }

  