<header id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"
data-bs-delay="1000">
<ol class="carousel-indicators mb-4">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
</ol>
<div class="carousel-inner banner-slide">
    <div class="carousel-item active">
        <div class="banner-content">
            <h2>Ghế AURORA</h2><br>
            <span class="price">3,900,000₫</span><br><br>
            <pre>
Nếu như diện tích phòng bạn không cho phép 
có đủ bộ sofa hoành tráng, thì sofa bed
AURORA chắc chắn sẽ khiến bạn hài lòng.

Với kích thước nhỏ gọn và tích hợp công năng
của sofa lẫn giường ngủ, AURORA sẽ là món
nội thất tiện dụng cho những không gian 
khiêm tốn như phòng trọ hay căn hộ studio
           </pre>
        </div>
        <img src="img/Banner-slide1.jpg" class="d-block w-100 carousel-img" alt="Slide 1">
    </div>
    <div class="carousel-item">
        <div class="banner-content">
            <h2>Ghế AURORA</h2><br>
            <span class="price">3,900,000₫</span><br><br>
            <pre>
Nếu như diện tích phòng bạn không cho phép 
có đủ bộ sofa hoành tráng, thì sofa bed
AURORA chắc chắn sẽ khiến bạn hài lòng.

Với kích thước nhỏ gọn và tích hợp công năng
của sofa lẫn giường ngủ, AURORA sẽ là món
nội thất tiện dụng cho những không gian 
khiêm tốn như phòng trọ hay căn hộ studio
           </pre>
        </div>
        <img src="img/Banner-slide2.jpg" class="d-block w-100 carousel-img" alt="Slide 2">
    </div>
    <div class="carousel-item">
        <div class="banner-content">
            <h2>Ghế AURORA</h2><br>
            <span class="price">3,900,000₫</span><br><br>
            <pre>
Nếu như diện tích phòng bạn không cho phép 
có đủ bộ sofa hoành tráng, thì sofa bed
AURORA chắc chắn sẽ khiến bạn hài lòng.

Với kích thước nhỏ gọn và tích hợp công năng
của sofa lẫn giường ngủ, AURORA sẽ là món
nội thất tiện dụng cho những không gian 
khiêm tốn như phòng trọ hay căn hộ studio
           </pre>
        </div>
        <img src="img/Banner-slide3.jpg" class="d-block w-100 carousel-img" alt="Slide 3">
    </div>
</div>
</header>