<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- icon web  -->
    <link rel="website icon" type="png" href="img/logo--noname.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="styles/root.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/blog.css">
    <link rel="stylesheet" href="styles/footer.css">
    <title>Blog</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a href="/"><img src="img/Logowebsite.png" style="background-color: var(--gray_25);" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav item-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/about-page">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-page">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/blog-page">Bài viết</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover has-megamenu">
                        <a class="nav-link " href="/product-page"> Sản phẩm <i class="bi bi-chevron-down"></i></a>
                        <div class="dropdown-menu megamenu" role="menu">
                            <div class="row g-3">
                                <div class="col-lg-4 col-6 item-group">
                                    <div class="col-megamenu">
                                        <h6 class="title ">Loại nội thất</h6>
                                        <ul class="list-unstyled ">
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">BÀN -
                                                    tables</a>
                                                <p>Bàn làm việc, bàn ăn, bàn sofa.</p>
                                            </li>
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">SOFA -
                                                    sofas</a>
                                                <p>Sofa băng, sofa góc, sofa giường.</p>
                                            </li>
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">GHẾ -
                                                    chairs</a>
                                                <p>Ghế văn phòng, ghế ăn, ghế cafe.</p>
                                            </li>
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">ĐÈN -
                                                    lamps</a>
                                                <p>Đèn sản, đèn bàn, đèn trang trí.</p>
                                            </li>
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">KỆ, TỦ -
                                                    sheft units,
                                                    cabinets</a>
                                                <p>Tử đồ, tủ TV, kệ để đồ.</p>
                                            </li>
                                        </ul>
                                    </div> <!-- col-megamenu.// -->
                                </div><!-- end col-3 -->
                                <div class="col-lg-4 col-6 item-group">
                                    <div class="col-megamenu">
                                        <h6 class="title">&#160;</h6>
                                        <ul class="list-unstyled">

                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">GƯƠNG -
                                                    mirrors</a>
                                                <p>Gường nhỏ, gương toàn thân.</p>
                                            </li>
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">GIƯỜNG -
                                                    beds</a>
                                                <p>Gường sofr, gường đơn, gường đôi.</p>
                                            </li>
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">TRANG TRÍ
                                                    - decorations</a>
                                                <p>Khung ảnh, kệ giá.</p>
                                            </li>
                                            <li class="item-opsition-menu pb-2 "><a href="/product-list-page">ĐÒ GIA
                                                    DỤNG - household
                                                    goods</a>
                                                <p>Rem, thung rác.</p>
                                            </li>
                                        </ul>
                                    </div> <!-- col-megamenu.// -->
                                </div><!-- end col-3 -->
                                <div class="col-lg-4 col-6 room-group">
                                    <div class="col-megamenu">
                                        <h6 class="title">Nội thất cho các phòng</h6>
                                        <ul class="list-unstyled ">
                                            <li class="item-opsition-menu pb-2 ">
                                                <div class="d-flex align-items-center">
                                                    <span class="material-symbols-sharp ">
                                                        chair
                                                    </span>
                                                    <div>
                                                        <a href="product-list-page">Phòng khách - Living room</a>
                                                        <p>Các nội thất phòng khách</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-opsition-menu pb-2 ">
                                                <div class="d-flex align-items-center">
                                                    <span class="material-symbols-sharp">
                                                        bed
                                                    </span>
                                                    <div>
                                                        <a href="#">Phòng ngủ - Bedroom</a>
                                                        <p>Các nội thất phòng ngủ</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-opsition-menu pb-2 ">
                                                <div class="d-flex align-items-center">
                                                    <span class="material-symbols-sharp">
                                                        kitchen
                                                    </span>
                                                    <div>
                                                        <a href="product-list-page">Phòng ăn - Kitchen room</a>
                                                        <p>Các nội thất nhà ăn</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-opsition-menu pb-2 ">
                                                <div class="d-flex align-items-center">
                                                    <span class="material-symbols-sharp">
                                                        laptop_chromebook
                                                    </span>
                                                    <div>
                                                        <a href="product-list-page">Phòng làm việc - Office</a>
                                                        <p>Các nội thất phòng làm việc</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-opsition-menu pb-2 ">
                                                <div class="d-flex align-items-center">
                                                    <span class="material-symbols-sharp">
                                                        bathtub
                                                    </span>
                                                    <div>
                                                        <a href="product-list-page">Phòng tắm - Bathroom</a>
                                                        <p>Các nội thất phòng tắm</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> <!-- col-megamenu.// -->
                                </div>
                            </div><!-- end row -->
                        </div> <!-- dropdown-mega-menu.// -->
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav item-menu ms-auto signin-group">
                <li class="nav-item">
                    <a class="nav-link login" href="login-page">Đăng nhập</a>
                </li>
                <li class="nav-item sign-navbar ">
                    <a class="nav-link sigin" href="sign-up-page">Đăng ký</a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"
        data-bs-delay="1000">
        <ol class="carousel-indicators mb-4">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner banner-slide">
            <div class="carousel-item active">
                <div class="banner-content">
                    <h2>Ghế AURORA</h2><br>
                    <span class="price">3,900,000₫</span><br><br>
                    <pre>
Nếu như diện tích phòng bạn không cho phép 
có đủ bộ sofa hoành tráng, thì sofa bed
AURORA chắc chắn sẽ khiến bạn hài lòng.

Với kích thước nhỏ gọn và tích hợp công năng
của sofa lẫn giường ngủ, AURORA sẽ là món
nội thất tiện dụng cho những không gian 
khiêm tốn như phòng trọ hay căn hộ studio
               </pre>
                </div>
                <img src="img/Banner-slide1.jpg" class="d-block w-100 carousel-img" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <div class="banner-content">
                    <h2>Ghế AURORA</h2><br>
                    <span class="price">3,900,000₫</span><br><br>
                    <pre>
Nếu như diện tích phòng bạn không cho phép 
có đủ bộ sofa hoành tráng, thì sofa bed
AURORA chắc chắn sẽ khiến bạn hài lòng.

Với kích thước nhỏ gọn và tích hợp công năng
của sofa lẫn giường ngủ, AURORA sẽ là món
nội thất tiện dụng cho những không gian 
khiêm tốn như phòng trọ hay căn hộ studio
               </pre>
                </div>
                <img src="img/Banner-slide2.jpg" class="d-block w-100 carousel-img" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <div class="banner-content">
                    <h2>Ghế AURORA</h2><br>
                    <span class="price">3,900,000₫</span><br><br>
                    <pre>
Nếu như diện tích phòng bạn không cho phép 
có đủ bộ sofa hoành tráng, thì sofa bed
AURORA chắc chắn sẽ khiến bạn hài lòng.

Với kích thước nhỏ gọn và tích hợp công năng
của sofa lẫn giường ngủ, AURORA sẽ là món
nội thất tiện dụng cho những không gian 
khiêm tốn như phòng trọ hay căn hộ studio
               </pre>
                </div>
                <img src="img/Banner-slide3.jpg" class="d-block w-100 carousel-img" alt="Slide 3">
            </div>
        </div>
    </header>

    <article class="container bg-light">
        <div class="card-blog-main bg-light">
            <div class="row">
                <div class="col-4" th:each="item : ${page.content}">
                    <div class="card-blog ">
                        <a href="/blogs-item-page">
                            <div class="zoom_color noidung">
                                <img class="blog-img" src="/img/blog-1.jpg" alt="">
                                <!-- th:src="@{'/images/'' + ${item.anhNen}}" src="/img/blog-1.jpg" -->
                            </div>
                        </a>
                        <h5>Design</h5>
                        <div class="item-title d-flex justify-content-between mx-4"> 
                            <h3><a class="text-decoration-none " href="#" th:text="${item.tieuDeBaiDang}" >UX review presentations</a> </h3>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor"
                                    class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg></span>
                        </div>
                        <p th:text="${item.moTaBaiDang}">How do you create compelling presentations that wow your colleagues and impress your
                            managers?</p>
                        <div>
                            <div class="auther-item d-flex align-items-center ">
                                <img src="/img/avatar-1.png" alt="Avatar" width="40px" height="40px"
                                    class="avatar rounded-circle mx-3">
                                <span class="navbar-text text-start me-2">
                                    <a href="/blogs-item-page" class="text-decoration-none text-dark " th:text="${item.tacGiaBaiDang}">
                                        Olivia Rhye
                                        <br>
                                    </a>
                                     <span class="text-black-50"th:text="${item.ngayDang}" >20 Jan 2023</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
            <!-- <div class="row">
                <div class="col-4">
                    <div class="card-blog ">
                        <a href="/blogs-item-page">
                            <div class="zoom_color noidung">
                                <img class="blog-img" src="/img/blog-4.jpg" alt="">
                            </div>
                        </a>
                        <h5>Management</h5>
                        <div class="item-title d-flex justify-content-between mx-4">
                            <h3><a class="text-decoration-none " href="#">Bill Walsh leadership lessons</a> </h3>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor"
                                    class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg></span>
                        </div>
                        <p>Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?
                        </p>
                        <div>
                            <div class="auther-item d-flex align-items-center ">
                                <img src="/img/avatar-04.png" alt="Avatar" width="40px" height="40px"
                                    class="avatar rounded-circle mx-3">
                                <span class="navbar-text text-start me-2">
                                    <a href="/blogs-item-page" class="text-decoration-none text-dark ">
                                        Alec Whitten
                                        <br> <span class="text-black-50">17 Jan 2023</span></a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-blog ">
                        <a href="/blogs-item-page">
                            <div class="zoom_color noidung">
                                <img class="blog-img" src="/img/blog-5.jpg" alt="">
                            </div>
                        </a>
                        <h5>Product</h5>
                        <div class="item-title d-flex justify-content-between mx-4">
                            <h3><a class="text-decoration-none " href="#">PM mental models</a> </h3>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor"
                                    class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg></span>
                        </div>
                        <p>Mental models are simple expressions of complex processes or relationships.</p>
                        <div>
                            <div class="auther-item d-flex align-items-center ">
                                <img src="/img/avatar-05.png" alt="Avatar" width="40px" height="40px"
                                    class="avatar rounded-circle mx-3">
                                <span class="navbar-text text-start me-2">
                                    <a href="/blogs-item-page" class="text-decoration-none text-dark ">
                                        Demi WIlkinson
                                        <br> <span class="text-black-50">16 Jan 2023</span></a>
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card-blog ">
                        <a href="/blogs-item-page">
                            <div class="zoom_color noidung">
                                <img class="blog-img" src="/img/blog-6.jpg" alt="">
                            </div>
                        </a>
                        <h5>Design</h5>
                        <div class="item-title d-flex justify-content-between mx-4">
                            <h3><a class="text-decoration-none " href="#">What is Wireframing?</a> </h3>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor"
                                    class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg></span>
                        </div>
                        <p>Introduction to Wireframing and its Principles. Learn from the best in the industry.</p>
                        <div>
                            <div class="auther-item d-flex align-items-center ">
                                <img src="/img/avatar-06.png" alt="Avatar" width="40px" height="40px"
                                    class="avatar rounded-circle mx-3">
                                <span class="navbar-text text-start me-2">
                                    <a href="/blogs-item-page" class="text-decoration-none text-dark ">
                                        Candice Wu
                                        <br> <span class="text-black-50">15 Jan 2023</span></a>
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            </div> -->

            <!-- <div class="row">
                <div class="col-4">
                    <div class="card-blog ">
                        <a href="/blogs-item-page">
                            <div class="zoom_color noidung">
                                <img class="blog-img" src="/img/blog-1.jpg" alt="">
                            </div>
                        </a>
                        <h5>Design</h5>
                        <div class="item-title d-flex justify-content-between mx-4">
                            <h3><a class="text-decoration-none " href="#">UX review presentations</a> </h3>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor"
                                    class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg></span>
                        </div>
                        <p>How do you create compelling presentations that wow your colleagues and impress your
                            managers?</p>
                        <div>
                            <div class="auther-item d-flex align-items-center ">
                                <img src="img/dem.png" alt="Avatar" width="40px" height="40px"
                                    class="avatar rounded-circle mx-3">
                                <span class="navbar-text text-start me-2">
                                    <a href="/blogs-item-page" class="text-decoration-none text-dark ">
                                        Olivia Rhye
                                        <br> <span class="text-black-50">20 Jan 2023</span></a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-blog ">
                        <a href="/blogs-item-page">
                            <div class="zoom_color noidung">
                                <img class="blog-img" src="/img/blog-2.jpg" alt="">
                            </div>
                        </a>
                        <h5>Design</h5>
                        <div class="item-title d-flex justify-content-between mx-4">
                            <h3><a class="text-decoration-none " href="#">UX review presentations</a> </h3>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor"
                                    class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg></span>
                        </div>
                        <p>How do you create compelling presentations that wow your colleagues and impress your
                            managers?</p>
                        <div>
                            <div class="auther-item d-flex align-items-center ">
                                <img src="img/dem.png" alt="Avatar" width="40px" height="40px"
                                    class="avatar rounded-circle mx-3">
                                <span class="navbar-text text-start me-2">
                                    <a href="/blogs-item-page" class="text-decoration-none text-dark ">
                                        Olivia Rhye
                                        <br> <span class="text-black-50">20 Jan 2023</span></a>
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card-blog ">
                        <a href="/blogs-item-page">
                            <div class="zoom_color noidung">
                                <img class="blog-img" src="/img/blog-3.jpg" alt="">
                            </div>
                        </a>
                        <h5>Design</h5>
                        <div class="item-title d-flex justify-content-between mx-4">
                            <h3><a class="text-decoration-none " href="#">UX review presentations</a> </h3>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor"
                                    class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg></span>
                        </div>
                        <p>How do you create compelling presentations that wow your colleagues and impress your
                            managers?</p>
                        <div>
                            <div class="auther-item d-flex align-items-center ">
                                <img src="img/dem.png" alt="Avatar" width="40px" height="40px"
                                    class="avatar rounded-circle mx-3">
                                <span class="navbar-text text-start me-2">
                                    <a href="/blogs-item-page" class="text-decoration-none text-dark ">
                                        Olivia Rhye
                                        <br> <span class="text-black-50">20 Jan 2023</span></a>
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
            <hr class="text-black-50 my-5">
            <div class="pagination justify-content-between">
                <div class="d-flex justify-content-start">
                    <a th:href="@{/blog-page?p=__${page.number-1}__}" class="page-link pagination-pre bg-light border-light "> 
                   
                    <!-- th:if="${page.number  !=  0}"  -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                        </svg>
                        Previous</a>
                </div>
                <ul class="page-list d-flex">
                    <li class="page-item"><a href="#" class="page-link active bg-light border-light">1</a></li>
                    <li class="page-item"><a href="#" class="page-link bg-light border-light">2</a></li>
                    <li class="page-item"><a href="#" class="page-link bg-light border-light">3</a></li>
                    <li class="page-item"><a href="#" class="page-link bg-light border-light">...</a></li>
                    <li class="page-item"><a href="#" class="page-link bg-light border-light">8</a></li>
                    <li class="page-item"><a href="#" class="page-link bg-light border-light">9</a></li>
                    <li class="page-item"><a href="#" class="page-link bg-light border-light">10</a></li>

                </ul>
                <div class="d-flex justify-content-end">
                    <a href="#" class="page-link bg-light border-light" 
                    th:href="@{/blog-page?p=__${page.number+1}__}">Next
                 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </div>
            </div>
            <!-- <a class="btn btn-dark" th:if="${page.number  !=  0}" th:href="@{/blog-page/navigation?p=__${page.number-1}__}">Prev</a> -->
            <!-- <a class="btn btn-dark" th:if="${page.number  !=  0}" th:href="@{/product/page?p=__${page.number-1}__}">Prev</a> -->

            <!--  th:href="@{/blog-page/navigation?p=__${page.number-1}__}" -->
            <!--   th:if="${page.number < page.totalPages-1}" th:href="@{/blog-page/navigation?p=__${page.number+1}__}" -->
            
            <!-- <a class="btn btn-dark" th:if="${page.number < page.totalPages-1}" th:href="@{/product/page?p=__${page.number+1}__}">Next</a>  -->
            <!-- <a class="btn btn-dark" th:if="${page.number < page.totalPages-1}" th:href="@{/blog-page/navigation?p=__${page.number+1}__}">Next</a>  -->
   


        </div>
    </article>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Sản phẩm</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">BÀN - tables</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">SOFA - sofas</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">TỦ - cabinets</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">GHẾ - chairs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">ĐÈN - lamps</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">KỆ - shelf units</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Phòng</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG KHÁCH -Living room</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG NGỦ - Bedroom</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG BẾP - Kitchen room</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG TẮM - Bathroom</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG LÀM VIỆC - Office</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Trang khác</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang giới thiệu</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang liên hệ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang bài viết</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cá nhân</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cài đặt</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Mạng xã hội</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Twitter</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Linkedln</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Facebook</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">GitHub</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">AngelList</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Dribble</a></li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <div class="logo-footer">
                    <a href="#"><img src="img/Logowebsite.png" alt=""></a>
                </div>


                <p class="text-white-50">© 2023 Company, Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>