<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon web  -->
    <link rel="icon" type="image/x-icon" href="../../img/logoMark.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--link css -->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/order-page.css">
    <title>Manager order</title>
</head>

<body>
    <div class="background-manager">
        <nav id="Manager_Navigation">
            <div class="header-navigation">
                <div class="header-navigation-logo">
                    <img src="../../img/Logo_website.png" alt="" class="header-navigation-logo-img">
                </div>
            </div>
            <div class="body-navigation">
                <ul class="body-navigation-menu menu-style">
                    <li class="body-navigation-li"><a href="/Manager/blog" class="body-navigation-link text-link"><i
                                class="bi bi-file-earmark-text icon-text"></i> Bài đăng</a></li>
                    <li class="body-navigation-li"><a href="/Manager/revenue" class="body-navigation-link text-link"><i
                                class="bi bi-bar-chart icon-text"></i> Doanh thu</a></li>
                    <li class="body-navigation-li"><a href="/Manager/order" class="body-navigation-link text-link"><i
                                class="bi bi-handbag icon-text"></i> Đơn hàng</a></li>
                    <li class="body-navigation-li"><a href="/Manager/filter" class="body-navigation-link text-link"><i
                                class="bi bi-list-ul icon-text"></i> Phân loại</a></li>
                    <li class="body-navigation-li"><a href="/Manager/product" class="body-navigation-link text-link"><i
                                class="bi bi-box icon-text"></i> Sản phẩm</a></li>
                    <li class="body-navigation-li"><a href="/Manager/account" class="body-navigation-link text-link"><i
                                class="bi bi-people icon-text"></i>Tài khoản</a></li>
                </ul>
            </div>

            <div class="footer-nagvigation">
                <hr style=" border-top: 1px solid var(--gray_100) ; width: 90%; margin: 5px auto;">
                <div class="footer-nagvigation-content">
                    <div class="footer-nagvigation-account">
                        <h4 class="footer-nagvigation-account-name">Olivia Rhye</h4>
                        <h6 class="footer-nagvigation-account-email">olivia@untitledui.com</h6>
                    </div>
                    <div class="footer-nagvigation-logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg>
                    </div>
                </div>

            </div>
        </nav>
        <div id="Manager_Content">
            <div class="header_content">
                <div class="header_content_text-group">
                    <h3 class="header_content_main-text text-title">Quản lý đơn hàng</h3>
                    <h5 class="header_content_sub-text text-title">Chức năng quản lý đơn hàng giúp cho doanh nghiệp có
                        thể dễ dàng theo dõi, xử lý ...</h5>
                </div>
                <div class="header_content_button-group">
                    <form action="" method="post">
                        <button class="btn btn-export btn-style"><i class="bi bi-cloud-download icon-text"></i> Xuất
                            file</button>
                    </form>
                </div>
            </div>
            <div class="body_content">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs body_content_tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="btn-style" id="list-blogs-tab" data-bs-toggle="tab"
                            data-bs-target="#list_blogs" type="button" role="tab" aria-controls="list_blogs"
                            aria-selected="true">Danh sách đơn hàng</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="btn-style" id="form-blogs-tab" data-bs-toggle="tab" data-bs-target="#form_blogs"
                            type="button" role="tab" aria-controls="form_blogs" aria-selected="false">Chi tiết đơn
                            hàng</button>
                    </li>
                </ul>
                <hr>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="list_blogs" role="tabpanel" aria-labelledby="list-blogs-tab">
                        <div class="list_blogs-header">
                            <div class="list_blogs-header-seletion-group">
                                <form action="" method="post">
                                    <div class="mb-3" style="margin-right: 20px;">
                                        <select class="form-select form-select-lg" name="" id="">
                                            <option selected>Từ A đến Z</option>
                                            <option value="">Từ Z đến A</option>
                                            <option value="">Istanbul</option>
                                            <option value="">Jakarta</option>
                                        </select>
                                    </div>

                                    <div class="mb-3" style="margin-right: 20px;">
                                        <select class="form-select form-select-lg" name="" id="">
                                            <option selected>Chưa thanh toán</option>
                                            <option value="">New Delhi</option>
                                            <option value="">Istanbul</option>
                                            <option value="">Jakarta</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <select class="form-select form-select-lg" name="" id="">
                                            <option selected>Đã hoàn thành</option>
                                            <option value="">New Delhi</option>
                                            <option value="">Istanbul</option>
                                            <option value="">Jakarta</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="list_blogs-header-search-group">
                                <form action="">
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-secondary box-shadow-none" type="button"
                                            id="button-search"><i class="bi bi-search"></i></button>
                                        <input type="text" class="form-control box-shadow-none" placeholder="Tìm kiếm"
                                            aria-label="Example text with button addon"
                                            aria-describedby="button-search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="list_blogs-body">
                            <div class="table-responsive">
                                <table class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: left;">
                                                <form action="" method="post">
                                                    <input class="form-check-input box-shadow-none"
                                                        style="margin-right: 10px;" name="" id="" type="checkbox"
                                                        value="checkedValue" aria-label="Text for screen reader">
                                                    Đơn hàng
                                                    <i class="bi bi-arrow-down"></i>
                                                </form>
                                            </th>
                                            <th scope="col">Tài khoản mua</th>
                                            <th scope="col">Ngày tạo</th>
                                            <th scope="col">Thanh toán</th>
                                            <th scope="col">Trang thái thanh toán</th>
                                            <th scope="col">Trang thái đơn hàng</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <form action="">
                                                <td scope="row" class="td-first-table">
                                                    <input class="form-check-input box-shadow-none" name="" id=""
                                                        type="checkbox" value="checkedValue"
                                                        aria-label="Text for screen reader">

                                                    <div class="text-blogs-group">
                                                        <h4 class="text-title-blogs text-title">DH19023781209</h4>
                                                        <h6 class="text-id-blogs text-title">Mã đơn hàng</h6>
                                                    </div>
                                                </td>
                                                <td>phucthnh123</td>
                                                <td>13/03/2023</td>
                                                <td>Tiền mặt</td>
                                                <td><span class="badge badge-gray">Chưa thanh toán</span></td>
                                                <td><span class="badge badge-blue">Đang vận chuyển</span></td>
                                                <td>
                                                    <button class="btn" style="color: var(--gray_600);"><i
                                                            class="bi bi-trash-fill"></i></button>
                                                    <button class="btn" style="color: var(--gray_600);"><i
                                                            class="bi bi-pen-fill"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: left;">
                                                <button class="btn-style btn-prev">Trước đó</button>
                                                <button class="btn-style btn-next">Kế tiếp</button>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                Trang 1 của 10
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="form_blogs" role="tabpanel" aria-labelledby="form-blogs-tab">
                        <div class="form_blogs-pane">
                            <form action="">
                                <div class="group-fleld group-fleld-01">
                                    <h5 class="title-order title-order-infor">Thông tin đơn hàng</h5>
                                </div>
                                <div class="group-fleld group-fleld-02">
                                    <div class="mb-3 form-group">
                                        <label for="id_order" class="form-label">Mã đơn hàng</label>
                                        <input type="number" min="0" name="id-order" id="id_order"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="account_order" class="form-label">Tài khoản Mua</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="calendar"><i class="bi-person-fill"
                                                    style="color: var(--gray_700);"></i></span>
                                            <select class="form-control form-select  box-shadow-none"
                                                name="account-order" id="account_order" aria-describedby="calendar">
                                                <option selected>phucThinh123</option>
                                                <option value="">NewDelhi</option>
                                                <option value="">Istanbul</option>
                                                <option value="">Jakarta</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="date_order" class="form-label">Ngày tạo</label>
                                        <input type="date" name="date-order" id="date_order"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-03">
                                    <div class="mb-3 form-group">
                                        <label for="method_order" class="form-label">Phương thức thanh toán</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="card-credit"><i
                                                    class="bi-credit-card-fill"
                                                    style="color: var(--gray_700);"></i></span>
                                            <select class="form-control form-select box-shadow-none" name="method-order"
                                                id="method_order" aria-describedby="card-credit">
                                                <option selected>Tiền mặt</option>
                                                <option value="">Thẻ ngân hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="status-buy_order" class="form-label">Trạng thái thanh toán</label>
                                        <select class="form-control form-select box-shadow-none" name="status-buy-order"
                                            id="status-buy_order">
                                            <option selected>Chưa thanh toán</option>
                                            <option value="">Đã thanh toán</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="status-order_order" class="form-label">Trạng thái đơn hàng</label>
                                        <select class="form-control form-select box-shadow-none"
                                            name="status-order_order" id="">
                                            <option selected>Đang xử lý</option>
                                            <option value="">Chờ thanh toán</option>
                                            <option value="">Đang vận chuyển</option>
                                            <option value="">Đã hoàn thành</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-04">
                                    <h5 class="title-order title-order-detail">Đơn hàng chi tiết</h5>
                                </div>
                                <div class="group-fleld group-fleld-05">
                                    <div class="table-responsive" style="height: 385px; overflow: auto;">
                                        <table class="table  m-0 table-hover ">
                                            <h6 class="title-order title-order-detail" style="margin: 15px ">Sản phẩm đơn hàng</h6>
                                            <thead>
                                                <tr class="table-active">
                                                    <th scope="col" style="text-align: left;">
                                                        <form action="" method="post">
                                                            <input class="form-check-input box-shadow-none"
                                                                style="margin-right: 10px;" name="" id=""
                                                                type="checkbox" value="checkedValue"
                                                                aria-label="Text for screen reader">
                                                            Sản phẩm
                                                            <i class="bi bi-arrow-down"></i>
                                                        </form>
                                                    </th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Đơn giá</th>
                                                    <th scope="col">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="">
                                                    <form action="">
                                                        <td scope="row" class="td-first-table">
                                                            <input class="form-check-input box-shadow-none" name=""
                                                                id="" type="checkbox" value="checkedValue"
                                                                aria-label="Text for screen reader">

                                                            <div class="text-blogs-group">
                                                                <h4 class="text-title-blogs text-title">Tên sản phẩm
                                                                </h4>
                                                                <h6 class="text-id-blogs text-title">Mã sản phẩm</h6>
                                                            </div>
                                                        </td>
                                                        <td>Số lượng</td>
                                                        <td>Đơn giá</td>
                                                        <td>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-trash-fill"></i></button>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-pen-fill"></i></button>
                                                        </td>
                                                    </form>
                                                </tr>
                                                <tr class="">
                                                    <form action="">
                                                        <td scope="row" class="td-first-table">
                                                            <input class="form-check-input box-shadow-none" name=""
                                                                id="" type="checkbox" value="checkedValue"
                                                                aria-label="Text for screen reader">

                                                            <div class="text-blogs-group">
                                                                <h4 class="text-title-blogs text-title">Tên sản phẩm
                                                                </h4>
                                                                <h6 class="text-id-blogs text-title">Mã sản phẩm</h6>
                                                            </div>
                                                        </td>
                                                        <td>Số lượng</td>
                                                        <td>Đơn giá</td>
                                                        <td>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-trash-fill"></i></button>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-pen-fill"></i></button>
                                                        </td>
                                                    </form>
                                                </tr>
                                                <tr class="">
                                                    <form action="">
                                                        <td scope="row" class="td-first-table">
                                                            <input class="form-check-input box-shadow-none" name=""
                                                                id="" type="checkbox" value="checkedValue"
                                                                aria-label="Text for screen reader">

                                                            <div class="text-blogs-group">
                                                                <h4 class="text-title-blogs text-title">Tên sản phẩm
                                                                </h4>
                                                                <h6 class="text-id-blogs text-title">Mã sản phẩm</h6>
                                                            </div>
                                                        </td>
                                                        <td>Số lượng</td>
                                                        <td>Đơn giá</td>
                                                        <td>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-trash-fill"></i></button>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-pen-fill"></i></button>
                                                        </td>
                                                    </form>
                                                </tr>
                                                <tr class="">
                                                    <form action="">
                                                        <td scope="row" class="td-first-table">
                                                            <input class="form-check-input box-shadow-none" name=""
                                                                id="" type="checkbox" value="checkedValue"
                                                                aria-label="Text for screen reader">

                                                            <div class="text-blogs-group">
                                                                <h4 class="text-title-blogs text-title">Tên sản phẩm
                                                                </h4>
                                                                <h6 class="text-id-blogs text-title">Mã sản phẩm</h6>
                                                            </div>
                                                        </td>
                                                        <td>Số lượng</td>
                                                        <td>Đơn giá</td>
                                                        <td>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-trash-fill"></i></button>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-pen-fill"></i></button>
                                                        </td>
                                                    </form>
                                                </tr>
                                                <tr class="">
                                                    <form action="">
                                                        <td scope="row" class="td-first-table">
                                                            <input class="form-check-input box-shadow-none" name=""
                                                                id="" type="checkbox" value="checkedValue"
                                                                aria-label="Text for screen reader">

                                                            <div class="text-blogs-group">
                                                                <h4 class="text-title-blogs text-title">Tên sản phẩm
                                                                </h4>
                                                                <h6 class="text-id-blogs text-title">Mã sản phẩm</h6>
                                                            </div>
                                                        </td>
                                                        <td>Số lượng</td>
                                                        <td>Đơn giá</td>
                                                        <td>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-trash-fill"></i></button>
                                                            <button class="btn" style="color: var(--gray_600);"><i
                                                                    class="bi bi-pen-fill"></i></button>
                                                        </td>
                                                    </form>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-06">
                                    <h5 class="title-order title-order-detail">Thông tin thanh toán</h5>
                                </div>
                                <div class="group-fleld group-fleld-07">
                                    <div class="mb-3 form-group">
                                        <label for="bank_order" class="form-label">Ngân hàng</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="card-credit"><i
                                                    class="bi-bank2"
                                                    style="color: var(--gray_700);"></i></span>
                                            <select class="form-control form-select box-shadow-none" name="bank_order"
                                                id="bank_order" aria-describedby="card-credit">
                                                <option selected>VietinBack</option>
                                                <option value="">SacomBack</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="number-credit_blog" class="form-label">Số thẻ</label>
                                        <input type="tel" name="number-credit-blog" id="number-credit_blog" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-08">
                                    <div class="mb-3 form-group">
                                        <label for="name-in-credit_order" class="form-label">Tên in trên thẻ</label>
                                        <input type="text" name="name-in-credit-order" id="name-in-credit_order"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="date-credit_order" class="form-label">Ngày phát hàng</label>
                                        <input type="date" name="date-credit-order" id="date-credit_order"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-09">
                                    <h5 class="title-order title-order-detail">Chi phí thanh toán</h5>
                                </div>
                                <div class="group-fleld group-fleld-010">
                                    <div class="mb-3 form-group">
                                        <label for="total-sub_order" class="form-label">Tổng phụ</label>
                                        <div class="input-group">
                                            <input type="tel" name="total-sub-order" id="total-sub_order" 
                                            class="form-control box-shadow-none" placeholder="">
                                            <span class="input-group-text" id="card-credit">VND</span>
                                        </div>
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="transport-fee_order" class="form-label">Phí vận chuyển</label>
                                        <div class="input-group">
                                            <input type="tel" name="transport-fee-order" id="transport-fee_order" 
                                            class="form-control box-shadow-none" placeholder="">
                                            <span class="input-group-text" id="card-credit">VND</span>
                                        </div>
                
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-011">
                                    <div class="mb-3 form-group">
                                        <label for="total_order" class="form-label">Tổng cộng</label>
                                        <div class="input-group">
                                            <input type="tel" name="total-order" id="total_order" 
                                            class="form-control box-shadow-none" placeholder="">
                                            <span class="input-group-text" id="card-credit">VND</span>
                                        </div>
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-012">
                                    <button class="btn btn-style btn-update">Cập nhật</button>
                                    <button class="btn btn-style btn-add"><i class="bi bi-printer-fill"></i> Xuất hóa đơn</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>