<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- icon web  -->
    <link rel="website icon" type="png" href="img/logo--noname.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/person.css">
    <title>Product List</title>
</head>

<body>
    <nav th:include="components/header-registered"></nav>
   <!-- <nav th:replace="navbaruser"></nav> -->
    <header class="header-person">
        <div class="banner-person">
            <img src="/img/banner-person.png" alt="Lỗi" width="100%" height="450px">
        </div>
        <div class="container my-4 d-flex justify-content-between">
            <div class="header-person-main" th:each="pe : ${people}">

                <div class="auther-item d-flex align-items-center ">
                    <img th:src="@{'/img/' + ${pe.thongTinTaiKhoan.anhDaiDien} + '.png'}" alt="Avatar" width="160px"
                        height="160px" class="avatar rounded-circle mx-3">
                    <span class="navbar-text text-start me-2">
                        <div class="text-decoration-none text-dark text-user-person" th:text="${pe.tenDangNhap}">
                        </div>
                        <span class="text-black-50" th:text="${pe.email}"></span>
                    </span>
                </div>
            </div>

        </div>
    </header>

    <article class="container">
        <div class="row">
            <div class="col-8">
                <table class="table">
                    <thead>
                        <tr class="title-cart">
                            <th scope="col">Quản lý đơn hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex justify-content-between my-3" th:each="dhct : ${donhangct}">
                            <td>
                                <div class="d-lg-flex name-product-person pt-3 pb-3">
                                    <div class="person-product-image">
                                        <img th:src="${'/img/' + {dhct.sanPhamDHCT.ListHinhAnhSP[0].idHinhAnh} + '.png'}"
                                            alt="Product 2" width="107" height="90">
                                    </div>
                                    <div class="person-product-text">
                                        <h5 th:text="${dhct.sanPhamDHCT.tenSanPham}"></h5>
                                        <span
                                            th:text="${#numbers.formatDecimal(dhct.sanPhamDHCT.giaSanPham, 0, 'COMMA', 0, 'POINT')+'đ'}"></span>
                                    </div>

                                </div>
                            </td>
                            <td class="status-person my-4">
                                <h5 th:text="${dhct.donHangDHCT.trangThaiDonHang}"></h5>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div class="map" th:each="pe : ${people}">
                    <div class="title-person mb-3">Thông tin khách hàng</div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="subtotal" class="form-label profle-tile">Họ và tên:</label>
                        </div>
                        <div class="col-6">
                            <label for="discount" class="form-label profle-text "
                                th:text="${pe.thongTinTaiKhoan.hoTen}"></label>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="subtotal" class="form-label profle-tile">Giới tính</label>
                        </div>
                        <div class="col-6">
                            <label for="discount" class="form-label profle-text"
                                th:text="${pe.thongTinTaiKhoan.gioiTinh ? 'Nam' : 'Nữ'}"></label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="subtotal" class="form-label profle-tile">Số điện thoại:</label>
                        </div>
                        <div class="col-6">
                            <label for="discount" class="form-label profle-text "
                                th:text="${pe.thongTinTaiKhoan.soDienThoai}"></label>
                        </div>
                    </div>

                    <div class="edit-profile my-3">
                        <button class="btn btn-edit-profile" data-bs-toggle="modal" data-bs-target="#exampleModal">Chỉnh
                            sửa hồ sơ</button>
                    </div>


                </div>
            </div>
        </div>
    </article>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Chỉnh sửa hồ sơ</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/person}" th:object="${personuser}" method="post"  class="needs-validation" novalidate>
                        <div class="map2" th:each="pe : ${people}">
                            <div class="row mb-4">
                                <div class="col-6">
                                    <label for="fullName" class="form-label profile-title">Họ và tên:</label>
                                </div>
                                <div class="col-6">
                                    <input id="fullName" name="fullName" class="form-control profile-input" type="text"
                                        th:value="${pe.thongTinTaiKhoan.hoTen}" required/>
                                        <div class="invalid-feedback">
                                            Không được bỏ trống.
                                          </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-6">
                                    <label class="form-label profile-title">Giới tính:</label>
                                </div>
                                <div class="col-6">
                                    <input id="genderMale" class="form-check-input" type="radio" name="gender"
                                        value="true" th:checked="${pe.thongTinTaiKhoan.gioiTinh}" />
                                    <label for="genderMale" class="form-check-label">Nam</label>
                                    <input id="genderFemale" class="form-check-input" type="radio" name="gender"
                                        value="false" th:checked="${!pe.thongTinTaiKhoan.gioiTinh}" />
                                    <label for="genderFemale" class="form-check-label">Nữ</label>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-6">
                                    <label for="phoneNumber" class="form-label profile-title">Số điện
                                        thoại:</label>
                                       
                                </div>
                                <div class="col-6">
                                    <input id="phoneNumber" name="sdt" class="form-control profile-input" type="text"
                                        th:value="${pe.thongTinTaiKhoan.soDienThoai}" required maxlength="10" minlength="10" pattern="^\d+$" />
                                    <div class="invalid-feedback">
                                        Phải nhập 10 só hoặc phải nhập số.
                                    </div>
                                </div>
                                
                            </div>

                           

                            <button class="btn btn-primary" th:href="@{'/person/user/' + ${pe.tenDangNhap}}">Xác
                                nhận</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
    
    <!-- Tải các tệp JavaScript của jQuery và Bootstrap --><script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="/js/changepasss.js"></script>
</body>

</html>