<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- icon web  -->
    <link rel="website icon" type="png" href="img/logo--noname.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	 <link rel="stylesheet" href="styles/root.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/product.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/footer.css">
    <title>Product</title>
</head>
<body>
   <nav th:replace="navbar"></nav>
   <nav th:replace="banner"></nav>
  
    <!-- title nội dụng chính  -->
    <div th:replace="product/productsale"></div>


    <article>
        <div class="container">
            <div class="product-title-sale">
                <h3>Sản phẩn bán chạy</h3>
            </div>
            <div class="product-list-main row row-cols-4">
                <div class="product-list my-4 col" th:each="pro : ${products}">
                    <a th:href="@{'/product-page/edit/' + ${pro.idSanPham}}">
                        <div class="zoom_color noidung">
                            <th:block th:each="khuyenMai : ${pro.ListSPKM}">
                                <span class="price-sale"
                                    th:text="${#numbers.formatDecimal(khuyenMai.khuyenMaiSPKM.phamTramKhuyenMai, 0, 0)} + '%'"></span>
                            </th:block>
                            <img th:src="@{'/img/' + ${pro.ListHinhAnhSP[0].idHinhAnh} + '.png'}" alt="Hình ảnh">
                        </div>
                        <h3 class="product-title" th:text="${pro.tenSanPham}"></h3>
                    </a>
                    <p class="product-description" th:text="${pro.moTaSanPham}"></p>
                    <div class="product-price-main">
                        <p th:unless="${pro.ListSPKM != null && !pro.ListSPKM.isEmpty()}" class="product-price"
                            th:text="${#numbers.formatDecimal(pro.giaSanPham, 0, 'COMMA', 0, 'POINT')}"></p>
                        <p th:if="${pro.ListSPKM != null && !pro.ListSPKM.isEmpty()}" class="product-price">
                            <span 
                                th:text="${#numbers.formatDecimal(pro.giaSanPham * (1 - pro.ListSPKM[0].khuyenMaiSPKM.phamTramKhuyenMai / 100), 0, 'COMMA', 0, 'POINT')}"></span>
                            <del class="old-price mx-3" th:text="${#numbers.formatDecimal(pro.giaSanPham, 0, 'COMMA', 0, 'POINT')}"></del>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${currIndex}>0"><a class="page-link text-white bg-dark "
                            th:href="@{/product-page/page?p=__${currIndex-1}__}" href="#">Previous</a></li>
                    <tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
                        <li class="page-item"><a th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}"
                                th:href="@{/product-page/page?p=__${i}__}" class="page-link text-dark" href="#"
                                th:text="${i+1}"></a></li>
                    </tr>
                    <li class="page-item " th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a
                            class="page-link text-white bg-dark " th:href="@{/product-page/page?p=__${currIndex+1}__}"
                            href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </article>

  <div th:replace="product/productQuada"></div>
   
    <nav th:replace="footer"></nav>
</body>

</html>