<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- icon web  -->
    <link rel="website icon" type="png" href="img/logo--noname.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/product-item.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/product.css"> 
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/home.css">

    <title>Product Item</title>
</head>

<body>
    <nav th:include="navbar"></nav>
    <header class="container product-item-title my-5">
        <h3>Chi tiết sản phẩm</h3>
        <p class="duongdancon"><a href="product-page">Sản phẩm</a> / <a href="product-item-page">bàn làm việc</a></p>
    </header>


    <div class="container">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content img-tabcontent">
                        <div class="tab-pane active" id="pic-1">
                            <img th:if="${spitem.ListHinhAnhSP.size() > 0}"
                                th:src="@{'/img/' + ${spitem.ListHinhAnhSP[0].idHinhAnh} + '.png'}" alt="Error images">
                        </div>
                        <div class="tab-pane" id="pic-2">
                            <img th:if="${spitem.ListHinhAnhSP.size() > 1}"
                                th:src="@{'/img/' + ${spitem.ListHinhAnhSP[1].idHinhAnh} + '.png'}" alt="Error images">
                        </div>
                        <div class="tab-pane" id="pic-3">
                            <img th:if="${spitem.ListHinhAnhSP.size() > 2}"
                                th:src="@{'/img/' + ${spitem.ListHinhAnhSP[2].idHinhAnh} + '.png'}" alt="Error images">
                        </div>
                        <div class="tab-pane" id="pic-4">
                            <img th:if="${spitem.ListHinhAnhSP.size() > 3}"
                                th:src="@{'/img/' + ${spitem.ListHinhAnhSP[3].idHinhAnh} + '.png'}" alt="Error images">
                        </div>
                        <div class="tab-pane" id="pic-5">
                            <img th:if="${spitem.ListHinhAnhSP.size() > 4}"
                                th:src="@{'/img/' + ${spitem.ListHinhAnhSP[4].idHinhAnh} + '.png'}" alt="Error images">
                        </div>
                    </div>


                    <!-- chitietsanpham -->
                </div>
                <div class="col-md-2">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active img-item" data-bs-toggle="tab" href="#pic-1">
                                <img th:if="${spitem.ListHinhAnhSP.size() > 0}"
                                    th:src="@{'/img/' + ${spitem.ListHinhAnhSP[0].idHinhAnh} + '.png'}"
                                    alt="Error images">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#pic-2">
                                <img th:if="${spitem.ListHinhAnhSP.size() > 1}"
                                    th:src="@{'/img/' + ${spitem.ListHinhAnhSP[1].idHinhAnh} + '.png'}"
                                    alt="Error images">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#pic-3">
                                <img th:if="${spitem.ListHinhAnhSP.size() > 2}"
                                    th:src="@{'/img/' + ${spitem.ListHinhAnhSP[2].idHinhAnh} + '.png'}"
                                    alt="Error images">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#pic-4">
                                <img th:if="${spitem.ListHinhAnhSP.size() > 3}"
                                    th:src="@{'/img/' + ${spitem.ListHinhAnhSP[3].idHinhAnh} + '.png'}"
                                    alt="Error images">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#pic-5">
                                <img th:if="${spitem.ListHinhAnhSP.size() > 4}"
                                    th:src="@{'/img/' + ${spitem.ListHinhAnhSP[4].idHinhAnh} + '.png'}"
                                    alt="Error images">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 product-item-text my-4">
                    <!-- Dat form star -->
                    <form th:action="@{/cart-page/add}" method="post" th:object="${spitem}">
                        <input type="text" hidden name="idSanPham" th:value="${spitem.idSanPham}">
                    <div class="product-item-name">
                        <!-- Ten sp-->
                        <h3 th:text="${spitem.tenSanPham}"></h3>

                        <!-- Gia sp -->
                        <div class="product-price-main">
                            <p th:unless="${spitem.ListSPKM != null && !spitem.ListSPKM.isEmpty()}"
                                class="product-price-proItem"
                                th:text="${#numbers.formatDecimal(spitem.giaSanPham, 0, 'COMMA', 0, 'POINT')}"></p>
                            <p th:if="${spitem.ListSPKM != null && !spitem.ListSPKM.isEmpty()}">
                                <span class="product-price-proItem"
                                    th:text="${#numbers.formatDecimal(spitem.giaSanPham * (1 - spitem.ListSPKM[0].khuyenMaiSPKM.phamTramKhuyenMai / 100), 0, 'COMMA', 0, 'POINT')}"></span>
                                <del class="old-price-proItem mx-3"
                                    th:text="${#numbers.formatDecimal(spitem.giaSanPham, 0, 'COMMA', 0, 'POINT')}"></del>
                            </p>
                        </div>

                    </div>
                    <div class="properties my-5">
                        <!-- Loai -->
                        <h3>Loại : <span th:text="${spitem.phanNhomLoai.tenPhanLoaiNhom}"></span></h3>

                        <!-- Kich thuoc -->
                        <h3>Kích thước : <span th:text="${spitem.kichThuocSanPham}"></span></h3>

                        <!-- Chat lieu -->
                        <div th:each="spcl : ${spitem.ListSPCL}">
                            <h3>Tên chất liệu: <span th:text="${spcl.chatLieuSPCL.tenChatLieu}"></span></h3>
                        </div>
                    </div>
                   
                    <div class="quantity">
                        <label for="quantity-input">Số lượng:</label>
                        <div class="input-group">
                            <input type="number" name="soLuong" id="soLuong" min="1" th:value="${spitem.soLuong}">
                        </div>
                    </div>
                    
               
                    <div class="button-sell my-5 d-flex justify-content-between">
                        <a class="link-sell" th:href="@{/pay-page}">
                            <button class="btn-sell">Mua ngay </button>
                        </a>
                        
                        <a class="link-base" >
                            <button type="submit" class="btn-base" th:fomation="@{/cart-page/add}">Thêm vào giỏ hàng</button>
                        </a>

                    </div>
                   

                </div>
                 <!-- End form add to cart -->
                </form>
            </div>
        </div>


        <ul class="nav nav-tabs ">
            <li class="nav-item">
                <a class="nav-link active text-white description-tab " id="tab1-tab " data-bs-toggle="tab" href="#tab1"
                    role="tab" aria-controls="tab1" aria-selected="true">Mô tả sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab"
                    aria-controls="tab2" aria-selected="false">Hướng dẫn lắp đặt</a>
            </li>
        </ul>
        <div class="tab-content mt-2">
            <div class="tab-pane fade show active dis description" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="d-flex justify-content-around my-5">
                    <img th:src="@{'/img/' + ${spitem.ListHinhAnhSP[0].idHinhAnh} + '.png'}" alt="Error images"
                        width="372px" height="371px">
                </div>
                <p>
                    Thiết kế tối giản theo hình khối vuông vắn, đa dạng lựa chọn về màu sắc và chần bàn có thề điều
                    chỉnh cho phép
                    cần bằng trên các sàn không bằng phẳng. Ưu tiên các diện phẳng, cấu trúc đối xứng với O2 cabinet
                    tiện lợi, bàn
                    làm
                    việc UNIQ dễ dàng tháo lắp và có thể đặt dựa tường hoặc giữa phòng đều vô cùng lý tưởng. <br><br>

                    Cabinet bao gồm Ø5 tủ kéo: 02 tủ lưu trữ trên cùng kích thước và tủ dưới với hộc siêu rộng có thể
                    chứa vừa
                    khay tài
                    liệu hay sách kích thước a4.Tay nắm truyền thống được thay bằng tay nắm vát 45 độ độc đáo bên hông,
                    giúp bề
                    mặt
                    tủ trông tối giản hơn và tránh các va chạm khi sử dụng .Khuyến khích kết hợp với giá đỡ ổ cắm HOLDEN
                    để góc
                    làm
                    việc trông gọn gàng hơn cũng như tăng độ chắc chắn của mặt bàn làm việc về lâu dài.<br><br>

                    Thép là chất liệu sở hữu ưu điểm vượt trội về độ bền và cứng rắn. Nhờ cấu tạo bằng cốt ván dăm nên
                    gỗ MFC
                    (Melamine Faced. Kết hợp với bề mặt được sơn tĩnh điện cao cấp chống lại sự ăn Chipboard) có khả
                    năng chịu lực
                    rất
                    tốt, đặc biệt là lực thẳng mòn của hóa chất, hạn chế tói đa tình trạng bong tróc sơn hoặc đứng. Bên
                    cạnh đó,
                    gỗ MFC
                    còn được phủ bề mặt Melamine có hen gỉ theo thời gian so với các loại sơn thông thường. Ngoài ra tác
                    dụng
                    chống trầy xước, chống mài mòn hiệu quả, giúp đồ nội thép sơn tĩnh điện sẽ có bề mặt bóng nhẹ, dễ vệ
                    sinh và
                    đảm bảo thất được bền lâu và có tính thẩm mỹ cao.
                </p>
            </div>

            <div class="tab-pane fade description" id="tab2" role="tabpanel" aia-labelledby="tab2-tab">
                <iframe class="my-3" width="100%" height="700" src="https://www.youtube.com/embed/AygS3-svBRc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <p>Thiết kế tối giản theo hình khối vuông vắn, đa dạng lựa chọn về màu sắc và chần bàn có thề điều chỉnh
                    cho
                    phép cần bằng trên các sàn không bằng phẳng. Ưu tiên các diện phẳng, cấu trúc đối xứng với O2
                    cabinet tiện
                    lợi, bàn làm việc UNIQ dễ dàng tháo lắp và có thể đặt dựa tường hoặc giữa phòng đều vô cùng lý tưởng
                    <br><br>

                    Cabinet bao gồm Ø5 tủ kéo: 02 tủ lưu trữ trên cùng kích thước và tủ dưới với hộc siêu rộng có thể
                    chứa vừa
                    khay tài liệu hay sách kích thước a4.Tay nắm truyền thống được thay bằng tay nắm vát 45 độ độc đáo
                    bên hông,
                    giúp bề mặt tủ trông tối giản hơn và tránh các va chạm khi sử dụng .Khuyến khích kết hợp với giá đỡ
                    ổ cắm
                    HOLDEN để góc làm việc trông gọn gàng hơn cũng như tăng độ chắc chắn của mặt bàn làm việc về lâu
                    dài<br><br>

                    Thép là chất liệu sở hữu ưu điểm vượt trội về độ bền và cứng rắn. Nhờ cấu tạo bằng cốt ván dăm nên
                    gỗ MFC
                    (Melamine Faced. Kết hợp với bề mặt được sơn tĩnh điện cao cấp chống lại sự ăn Chipboard) có khả
                    năng chịu lực
                    rất tốt, đặc biệt là lực thẳng mòn của hóa chất, hạn chế tói đa tình trạng bong tróc sơn hoặc đứng.
                    Bên cạnh
                    đó, gỗ MFC còn được phủ bề mặt Melamine có hen gỉ theo thời gian so với các loại sơn thông thường.
                    Ngoài ra
                    tác dụng chống trầy xước, chống mài mòn hiệu quả, giúp đồ nội thép sơn tĩnh điện sẽ có bề mặt bóng
                    nhẹ, dễ vệ
                    sinh và đảm bảo thất được bền lâu và có tính thẩm mỹ cao.
                </p>
            </div>
        </div>

        <div class="preserve ">
            <div class="baoquan my-5">
                <h3>Bảo quản: </h3>
                <ul>
                    <li>Dùng khăn ẩm với nước sạch hoặc dung dịch tẩy rửa nhẹ để làm sạch sản phẩm. Sau đó, lau khô sản
                        phẩm bằng
                        khăn mềm.</li>
                    <li>Không để sản phẩm tiếp xúc với nước hoặc nguồn nhiệt độ cao trong thời gian dài.</li>
                    <li>Không dùng các vật sắc nhọn, thô cứng, sần sùi chà xát sản phẩm.</li>
                </ul>
            </div>
            <div class="baohanh">
                <h3>Bảo hành: </h3>
                <ul>
                    <li>Thời hạn bảo hành: 12 tháng</li>
                    <li>Bảo hành cho các sản phẩm có lỗi nguyên vật liệu hay lỗi từ nhà sản xuất (như móp, méo, cong
                        vênh các chi
                        tiết sản phẩm, bong tróc sơn,...). Hoặc các sản phẩm bị bể vỡ/ trầy xước/ biến dạng trong quá
                        trình vận
                        chuyển.</li>
                    <li>Không bảo hành cho các sản phẩm hư hỏng trong quá trình quý khách sử dụng do sử dụng không cẩn
                        thận, bảo
                        quản và vệ sinh không đúng cách. Cũng như sản phẩm bị các hao mòn thông thường (như phai mờ, rỉ
                        sét do trầy
                        xước, lỏng ốc vít sau một khoảng thời gian...).</li>
                </ul>
            </div>
        </div>

    </div>
        <aside class="bg-light w-100">
            <div class="container">
                <div class="product-list-title">
                    <h3>Sản phẩn Khuyến mãi</h3>
                </div>
                <div class="product-list-main row row-cols-4">
                    <div class="product-list col my-4" th:each="pros, iterStat : ${productsSales}" th:if="${iterStat.index} < 4">
                        <a th:href="@{'/product-page/edit/' + ${pros.sanPhamSPKM.idSanPham}}">
                            <div class="zoom_color noidung">
                                <img th:src="@{'/img/' + ${pros.sanPhamSPKM.ListHinhAnhSP[0].idHinhAnh} + '.png'}" alt="Hình ảnh">
                                <span class="price-sale"
                                    th:text="${#numbers.formatDecimal(pros.khuyenMaiSPKM.phamTramKhuyenMai, 0, 0) + '%'}"></span>
                            </div>
                            <h3 class="product-title" th:text="${pros.sanPhamSPKM.tenSanPham}"></h3>
                        </a>
                        <p class="product-description" th:text="${pros.sanPhamSPKM.moTaSanPham}"></p>
                        <div class="product-price-main">
                            <p class="product-price"
                                th:text="${#numbers.formatDecimal(pros.sanPhamSPKM.giaSanPham * (1 - pros.khuyenMaiSPKM.phamTramKhuyenMai / 100), 0, 'COMMA', 0, 'POINT')}">
                            </p>
                            <span class="product-price-sale my-1 mx-4"
                                th:text="${#numbers.formatDecimal(pros.sanPhamSPKM.giaSanPham, 0, 'COMMA', 0, 'POINT')}">
                            </span>
                        </div>
                    </div>
                </div>
                
                    <!-- <div class="product-list">
                        <a href="#">
                            <div class="zoom_color noidung">
                                <img src="img/Ban.png" alt="Sản phẩm 2">
                            </div>
                            <h3 class="product-title">Bàn UNIQ</h3>
                        </a>
                        <p class="product-description">Bàn làm việc 140 x 60 x 74 cm</p>
                        <p class="product-price">4,730,000₫</p>
                    </div>
                    <div class="product-list">
                        <a href="#">
                            <div class="zoom_color noidung">
                                <img src="img/ghe-to-br.png" alt="Sản phẩm 3">
                            </div>
                            <h3 class="product-title">Ghế TO-BE</h3>
                        </a>
                        <p class="product-description">Ghế văn phòng 55,5 x 60 x 79 cm</p>
                        <p class="product-price">4,250,000₫</p>
                    </div>
                    <div class="product-list">
                        <a href="#">
                            <div class="zoom_color noidung">
                                <img src="img/Den.png" alt="Sản phẩm 4">
                            </div>
                            <h3 class="product-title">Tủ PIXAR</h3>
                        </a>
                        <p class="product-description">Đèn bàn</p>
                        <p class="product-price">450,000₫</p>
                    </div> -->
                <!-- </div> -->
            </div>
        </aside>




    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Sản phẩm</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">BÀN - tables</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">SOFA - sofas</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">TỦ - cabinets</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">GHẾ - chairs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">ĐÈN - lamps</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">KỆ - shelf units</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Phòng</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG KHÁCH -Living room</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG NGỦ - Bedroom</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG BẾP - Kitchen room</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG TẮM - Bathroom</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG LÀM VIỆC - Office</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Trang khác</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang giới thiệu</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang liên hệ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang bài viết</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cá nhân</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cài đặt</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Mạng xã hội</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Twitter</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Linkedln</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Facebook</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">GitHub</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">AngelList</a></li>
                        <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Dribble</a></li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <div class="logo-footer">
                    <a href="#"><img src="img/Logowebsite.png" alt=""></a>
                </div>
                <p class="text-white-50">© 2023 Company, Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
<script src="/js/quatity.js"></script>

</html>