<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- icon web  -->
	<link rel="website icon" type="png" href="img/logo--noname.png">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS: -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
	<!-- link icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="styles/root.css">
	<link rel="stylesheet" href="/styles/navbar.css">
	<link rel="stylesheet" href="/styles/contact.css">
	<link rel="stylesheet" href="/styles/footer.css">
	<title>Profile</title>

</head>

<body>
	<nav th:unless="${onRegistered}" th:include="components/header-unregistered"></nav>
	<nav th:if="${onRegistered}" th:include="components/header-registered"></nav>

	<div class="row container" style="background-color: var(- -gray_25);">
		<div class="col-4 offset-2">
			<form class="form-contact my-5" th:object="${nguoiDung}" th:action="@{/profile/__${tenNguoiDung}__}"
				method="post">
				<div class="title-contact my-5">
					<h3>Cập nhật email</h3>
					<p>Hello <span th:text="${tenNguoiDung}"></span></p>
				</div>
				<input type="text" hidden th:field="*{tenDangNhap}">
				<input type="text" hidden th:field="*{matKhau}">
				<input type="text" hidden th:field="*{trangThai}">
				<input type="text" hidden th:field="*{vaiTro}">
				<div class="my-4">
					<label class="form-label" for="name">Email</label>
					<input type="text" th:field="*{email}" class="form-control" id="name" name="from"
						placeholder="you@company.com">
					<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>
				<div class="alert alert-primary" role="alert" th:if="${message}" th:text="${message}"></div>
				<button class="btn btn-success">Cập nhật</button>
			</form>
			<div class="text-danger" th:text="${error}"></div>
		</div>
		<div class="col-4 offset-1">
			<div class="banner-contact my-5">
				<img src="/img/Image-ct.png" alt="">
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-3 mb-3">
					<h5>Sản phẩm</h5>
					<ul class="nav flex-column footer-link">
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">BÀN - tables</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">SOFA - sofas</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">TỦ - cabinets</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">GHẾ - chairs</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">ĐÈN - lamps</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">KỆ - shelf units</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 mb-3">
					<h5>Phòng</h5>
					<ul class="nav flex-column footer-link">
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG KHÁCH -Living room</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG NGỦ - Bedroom</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG BẾP - Kitchen room</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG TẮM - Bathroom</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">PHÒNG LÀM VIỆC - Office</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 mb-3">
					<h5>Trang khác</h5>
					<ul class="nav flex-column footer-link">
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang giới thiệu</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang liên hệ</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang bài viết</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cá nhân</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cài đặt</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 mb-3">
					<h5>Mạng xã hội</h5>
					<ul class="nav flex-column footer-link">
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Twitter</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Linkedln</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Facebook</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">GitHub</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">AngelList</a></li>
						<li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Dribble</a></li>
					</ul>
				</div>
			</div>

			<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
				<div class="logo-footer">
					<a href="#"><img src="img/Logowebsite.png" alt=""></a>
				</div>


				<p class="text-white-50">© 2023 Company, Inc. All rights
					reserved.</p>
			</div>
		</div>
	</footer>

</body>

</html>