<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <!-- icon web  -->
  <link rel="website icon" type="png" href="img/logo--noname.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Tải các tệp CSS của Bootstrap -->
  <!-- Bootstrap CSS: -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Bootstrap JavaScript: -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- link icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- Tải tệp CSS của trang chủ của bạn -->
  <!-- <link rel="stylesheet" href="/styles/changepass.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/person.css"> -->
  <link rel="stylesheet" href="/styles/root.css">
  <link rel="stylesheet" href="/styles/otp.css">

  <title>Đổi mật khẩu</title>
</head>

<body>

  <div class="container">
    <div class="card-body content-group">
      <div class="content-group-title">
        <h3 class="card-title text-center title-page-main">Nhập mã xác thực</h3>
        <h5 th:style="${'color-green'}" class="text-center title-page-sub">Form nhập mã xác nhận</h5>
        <h5 th:text="${massager}" class="text-center title-page-sub"></h5>
      </div>
      <form th:action="@{/User/confirm}" method="post">
        <input type="hidden" name="otpExpiry" th:value="${otpExpiry}">
        <label class="title-otp" for="otp">Mã OTP:</label>
        <input type="text" id="otp" name="otp" maxlength="4" required>
        <svg viewBox="0 0 240 1" xmlns="http://www.w3.org/2000/svg">
          <line x1="0" y1="0" x2="240" y2="1" stroke="black" />
        </svg>
        <div class="btn-otp">
          <button class="btn btn-dark my-5 d-none" id="btn-confim01" type="submit">Xác thực</button>
        </div>
        
      </form>
      <button class="btn btn-dark" id="btn-confim02" type="submit">Xác thực</button>
    </div>

  </div>


</body>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$('#btn-confim02').click(function(){
  $('#btn-confim01').trigger('click');
})

$("input").keypress(function () {
    if ($(this).val().length > 1) {
      $(this).addClass('active');
    }
  });</script>

</html>