<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="/"><img src="/img/Logowebsite.png" style="background-color: var(--gray_25);" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav item-menu">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/about-page">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/contact-page">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="/blog-page">Bài viết</a>
                </li>
                <li class="nav-item dropdown dropdown-hover has-megamenu">
                    <a class="nav-link text-dark" href="/product-page"> Sản phẩm <i class="bi bi-chevron-down"></i></a>
                    <div class="dropdown-menu megamenu" role="menu">
                        <div class="row g-3">
                            <div class="col-lg-4 col-6 item-group">
                                <div class="col-megamenu">
                                    <h6 class="title ">Loại nội thất</h6>
                                    <ul class="list-unstyled">
                                        <li class="item-opsition-menu pb-2"><a
                                                th:href="@{/product-list-page/{category}(category='Bàn')}">BÀN -
                                                tables</a>
                                            <p>Bàn làm việc, bàn ăn, bàn sofa.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2"><a
                                                th:href="@{/product-list-page/{category}(category='Sofa')}">SOFA -
                                                sofas</a>
                                            <p>Sofa băng, sofa góc, sofa giường.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2"><a
                                                th:href="@{/product-list-page/{category}(category='Ghế')}">GHẾ -
                                                chairs</a>
                                            <p>Ghế văn phòng, ghế ăn, ghế cafe.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2"><a
                                                th:href="@{/product-list-page/{category}(category='Đèn')}">ĐÈN -
                                                lamps</a>
                                            <p>Đèn sản, đèn bàn, đèn trang trí.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2"><a
                                                th:href="@{/product-list-page/{category}(category='Tủ')}">KỆ, TỦ - shelf
                                                units, cabinets</a>
                                            <p>Tử đồ, tủ TV, kệ để đồ.</p>
                                        </li>
                                    </ul>

                                </div> <!-- col-megamenu.// -->
                            </div><!-- end col-3 -->
                            <div class="col-lg-4 col-6 item-group">
                                <div class="col-megamenu">
                                    <h6 class="title">&#160;</h6>
                                    <ul class="list-unstyled">

                                        <li class="item-opsition-menu pb-2 "><a
                                                th:href="@{/product-list-page/{category}(category='Gương')}">GƯƠNG -
                                                mirrors</a>
                                            <p>Gường nhỏ, gương toàn thân.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a
                                                th:href="@{/product-list-page/{category}(category='Giường')}">GIƯỜNG -
                                                beds</a>
                                            <p>Gường sofr, gường đơn, gường đôi.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a
                                                th:href="@{/product-list-page/{category}(category='Trang trí')}">TRANG
                                                TRÍ
                                                - decorations</a>
                                            <p>Khung ảnh, kệ giá.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a
                                                th:href="@{/product-list-page/{category}(category='Gia dụng')}">ĐỒ GIA
                                                DỤNG - household
                                                goods</a>
                                            <p>Rem, thung rác.</p>
                                        </li>
                                    </ul>
                                </div> <!-- col-megamenu.// -->
                            </div><!-- end col-3 -->
                            <div class="col-lg-4 col-6 room-group">
                                <div class="col-megamenu">
                                    <h6 class="title">Nội thất cho các phòng</h6>
                                    <ul class="list-unstyled ">
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp ">
                                                    chair
                                                </span>
                                                <div>
                                                    <a th:href="@{/product-list-page/{category}(category='Living')}">Phòng
                                                        khách - Living room</a>
                                                    <p>Các nội thất phòng khách</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    bed
                                                </span>
                                                <div>
                                                    <a th:href="@{/product-list-page/{category}(category='Bedroom')}">Phòng
                                                        ngủ - Bedroom</a>
                                                    <p>Các nội thất phòng ngủ</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    kitchen
                                                </span>
                                                <div>
                                                    <a th:href="@{/product-list-page/{category}(category='Kitchen')}">Phòng
                                                        ăn - Kitchen room</a>
                                                    <p>Các nội thất nhà ăn</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    laptop_chromebook
                                                </span>
                                                <div>
                                                    <a th:href="@{/product-list-page/{category}(category='Office')}">Phòng
                                                        làm việc - Office</a>
                                                    <p>Các nội thất phòng làm việc</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    bathtub
                                                </span>
                                                <div>
                                                    <a th:href="@{/product-list-page/{category}(category='Bathroom')}">Phòng
                                                        tắm - Bathroom</a>
                                                    <p>Các nội thất phòng tắm</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div> <!-- col-megamenu.// -->
                            </div>
                        </div><!-- end row -->
                    </div> <!-- dropdown-mega-menu.// -->
                </li>
            </ul>
        </div>
        <div class="registered-group">
            <!-- <div class="registered-group-search registered-item">
                <i class="bi bi-search"></i>
            </div> -->
            <div class="registered-group-cart registered-item">
                <i class="bi bi-bag"></i>
                <span class="number-item">+99</span>
            </div>
            <div class="registered-group-account registered-item">
                <div class="registered-group-account-text">
                    <div class="registered-group-account-name-text" th:text="${TaiKhoanUser.tenDangNhap}"></div>
                    <div class="registered-group-account-email-text" th:text="${TaiKhoanUser.email}"></div>
                </div>
                <div class="registered-group-account-img dropdown">
                    <img class="img-avata-registered"  src="https://firebasestorage.googleapis.com/v0/b/future-interior.appspot.com/o/Null.png?alt=media" alt="Avatar" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"  style="right: 50%; left: auto;  transform: translateX(50%); ">
                        <li><a class="dropdown-item" th:href="@{/person}">Hồ sơ cá nhân</a></li>
                        <li><a class="dropdown-item" th:href="@{/changePassword}">Đổi mật khẩu</a></li>
                        
                        <li><a class="dropdown-item" th:href="@{/dangxuat}">Đăng xuất</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>  
</nav>



<style>
.dropdown:hover .dropdown-menu {
  display: block;
}
</style>

  