<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="/"><img src="img/Logowebsite.png" style="background-color: var(--gray_25);" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav item-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/about-page">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-page">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/blog-page">Bài viết</a>
                </li>
                <li class="nav-item dropdown dropdown-hover has-megamenu">
                    <a class="nav-link " href="/product-page"> Sản phẩm <i class="bi bi-chevron-down"></i></a>
                    <div class="dropdown-menu megamenu" role="menu">
                        <div class="row g-3">
                            <div class="col-lg-4 col-6 item-group">
                                <div class="col-megamenu">
                                    <h6 class="title ">Loại nội thất</h6>
                                    <ul class="list-unstyled ">
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">BÀN -
                                                tables</a>
                                            <p>Bàn làm việc, bàn ăn, bàn sofa.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">SOFA -
                                                sofas</a>
                                            <p>Sofa băng, sofa góc, sofa giường.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">GHẾ -
                                                chairs</a>
                                            <p>Ghế văn phòng, ghế ăn, ghế cafe.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">ĐÈN -
                                                lamps</a>
                                            <p>Đèn sản, đèn bàn, đèn trang trí.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">KỆ, TỦ -
                                                sheft units,
                                                cabinets</a>
                                            <p>Tử đồ, tủ TV, kệ để đồ.</p>
                                        </li>
                                    </ul>
                                </div> <!-- col-megamenu.// -->
                            </div><!-- end col-3 -->
                            <div class="col-lg-4 col-6 item-group">
                                <div class="col-megamenu">
                                    <h6 class="title">&#160;</h6>
                                    <ul class="list-unstyled">

                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">GƯƠNG -
                                                mirrors</a>
                                            <p>Gường nhỏ, gương toàn thân.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">GIƯỜNG -
                                                beds</a>
                                            <p>Gường sofr, gường đơn, gường đôi.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">TRANG TRÍ
                                                - decorations</a>
                                            <p>Khung ảnh, kệ giá.</p>
                                        </li>
                                        <li class="item-opsition-menu pb-2 "><a href="/product-list-page">ĐÒ GIA
                                                DỤNG - household
                                                goods</a>
                                            <p>Rem, thung rác.</p>
                                        </li>
                                    </ul>
                                </div> <!-- col-megamenu.// -->
                            </div><!-- end col-3 -->
                            <div class="col-lg-4 col-6 room-group">
                                <div class="col-megamenu">
                                    <h6 class="title">Nội thất cho các phòng</h6>
                                    <ul class="list-unstyled ">
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp ">
                                                    chair
                                                </span>
                                                <div>
                                                    <a href="product-list-page">Phòng khách - Living room</a>
                                                    <p>Các nội thất phòng khách</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    bed
                                                </span>
                                                <div>
                                                    <a href="#">Phòng ngủ - Bedroom</a>
                                                    <p>Các nội thất phòng ngủ</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    kitchen
                                                </span>
                                                <div>
                                                    <a href="product-list-page">Phòng ăn - Kitchen room</a>
                                                    <p>Các nội thất nhà ăn</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    laptop_chromebook
                                                </span>
                                                <div>
                                                    <a href="product-list-page">Phòng làm việc - Office</a>
                                                    <p>Các nội thất phòng làm việc</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-opsition-menu pb-2 ">
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-sharp">
                                                    bathtub
                                                </span>
                                                <div>
                                                    <a href="product-list-page">Phòng tắm - Bathroom</a>
                                                    <p>Các nội thất phòng tắm</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div> <!-- col-megamenu.// -->
                            </div>
                        </div><!-- end row -->
                    </div> <!-- dropdown-mega-menu.// -->
                </li>
            </ul>
        </div>
        <div class="registered-group">
            <!-- <div class="registered-group-search registered-item">
                <i class="bi bi-search"></i>
            </div> -->
            <div class="registered-group-cart registered-item">
                <i class="bi bi-bag"></i>
                <span class="number-item">+99</span>
            </div>
            <div class="registered-group-account registered-item">
                <div class="registered-group-account-text">
                    <div class="registered-group-account-name-text">PhucThnh</div>
                    <div class="registered-group-account-email-text">phucthinh@gmail.com</div>
                </div>
                <div class="registered-group-account-img">
                    <img class="img-avata-registered" src="../img/PhucThinh.png" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>