<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div class="header-navigation">
    <div class="header-navigation-logo">
        <img src="../../img/Logo_website.png" alt="" class="header-navigation-logo-img">
    </div>
</div>
<div class="body-navigation">
    <ul class="body-navigation-menu menu-style">
        <li class="body-navigation-li"><a href="/Manager/blog" class="body-navigation-link text-link"><i
                    class="bi bi-file-earmark-text icon-text"></i> Bài đăng</a></li>
        <li class="body-navigation-li"><a href="/Manager/revenue" class="body-navigation-link text-link"><i
                    class="bi bi-bar-chart icon-text"></i> Doanh thu</a></li>
        <li class="body-navigation-li"><a href="/Manager/order" class="body-navigation-link text-link"><i
                    class="bi bi-handbag icon-text"></i> Đơn hàng</a></li>
        <li class="body-navigation-li"><a href="/Manager/filter" class="body-navigation-link text-link"><i
                    class="bi bi-list-ul icon-text"></i> Phân loại</a></li>
        <li class="body-navigation-li"><a href="/Manager/product" class="body-navigation-link text-link"><i
                    class="bi bi-box icon-text"></i> Sản phẩm</a></li>
        <li class="body-navigation-li"><a href="/Manager/account" class="body-navigation-link text-link"><i
                    class="bi bi-people icon-text"></i>Tài khoản</a></li>
    </ul>
</div>

<div class="footer-nagvigation">
    <hr style=" border-top: 1px solid var(--gray_100) ; width: 90%; margin: 5px auto;">
    <div class="footer-nagvigation-content">
        <div class="footer-nagvigation-account">
            <h4 class="footer-nagvigation-account-name">Olivia Rhye</h4>
            <h6 class="footer-nagvigation-account-email">olivia@untitledui.com</h6>
        </div>
        <a href="/Manager/logout">
            <div class="footer-nagvigation-logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                    <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg>
            </div>
        </a>
    </div>

</div>


</html>