<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Send Email</title>
</head>

<body>
    <h1>Send Email</h1>
    <h1 th:text="${mailInfo}"></h1>
    <form method="POST" action="/mailer/demo" enctype="multipart/form-data">
        <!-- <label for="from">From:</label>
        <input type="text" name="from" id="from"><br><br> -->
        
        <label for="to">To:</label>
        <input type="text" name="to" id="to"><br><br>
        
        <!-- <label for="cc">CC:</label>
        <input type="text" name="cc" id="cc"><br> -->
        
        <!-- <label for="bcc">BCC:</label>
        <input type="text" name="bcc" id="bcc"><br> -->
        
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="subject"><br><br>
        
        <label for="body">Body:</label>
        <textarea name="body" id="body"></textarea><br>
        
        <!-- <label for="attachments">Attachments:</label>
        <input type="file" name="attachments" id="attachments" multiple><br> -->
        
        <button type="submit">Send Email</button>
      </form>
      
</body>

</html>